<% if @article_num == 0 %>
  <div id="result_operation">
    <span id="message"><%= @searchtext[0,10] %> <%= @type_text %> <%= t("search.result_article") %> <%= @article_num %>件</span>
  </div>
<% else %>
  <div id="result_operation">
    <span id="message"><%= @searchtext[0,10] %> <%= @type_text %> <%= t("search.result_article") %> <%= @article_num %>件</span>
    <% if get_login_user %>
    <span>
      <input type="checkbox" id="not_read_only"><%= t("article.filter_only_not_read") %></span>
    <% end %>
    <span id="sort">
      <div class="btn-group sort-split-btn">
        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><%= @sort_menu_title %><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li>
            <%= link_to t("search.sort_newest") ,{:controller =>"search", :action => "search_article", :searchtext => @searchtext,:target => @target, :type => @type, :sort => "1"} %>
          </li>
          <li>
            <%= link_to t("search.sort_summary_num") ,{:controller =>"search", :action => "search_article", :searchtext => @searchtext,:target => @target, :type => @type, :sort => "2"} %>
          </li>
          <li>
            <%= link_to t("search.sort_reader_num") ,{:controller =>"search", :action => "search_article", :searchtext => @searchtext,:target => @target, :type => @type, :sort => "3"} %>
          </li>
        </ul>
      </div>
    </span>
  </div>
  <% @articles.each do |article| %>
    <% if get_login_user && article.user_articles.where(:user_id =>get_login_user.id).first %>
      <div class="article_contents">
    <% else %>
      <div class="article_contents_not_read">
    <% end %>
      <div id="url_title">
        <p>
          <a href="<%= article.url %>" target="_blank"><%= article.title[0, 45] %></a>
        </p>
      </div>
      <div id="article_infomation">
        <div id="summary_num">
          <% if article.summaries_count == 1 %>
            <%= link_to article.summaries_count.to_s+t("summary.count_one") , {:controller =>"summary_lists", :action => "index", :article_id => article.id} %>
          <% else %>
            <%= link_to article.summaries_count.to_s+t("summary.count") , {:controller =>"summary_lists", :action => "index", :article_id => article.id} %>
          <% end %>
        </div>
        <div id="user_article_num">
          <% if article.user_articles_count == 1 %>
            <%= link_to article.user_articles_count.to_s+t("reader.count_one") , {:controller =>"search", :action => "search_user_article", :article_id => article.id} %>
<!--            <p><%= article.user_articles_count.to_s+t("reader.count_one") %></p>-->
          <% else %>
            <%= link_to article.user_articles_count.to_s+t("reader.count") , {:controller =>"search", :action => "search_user_article", :article_id => article.id} %>
<!--            <p><%= article.user_articles_count.to_s+t("reader.count") %></p>-->
          <% end %>
        </div>
      </div>
      <div id="article_operation">
        <div id="article_operation_<%= article.id %>">
          <% if get_login_user %>
            <%= render_read_status(article) %>
          <% end %>
        </div>
      </div>
      <div id="thumbnail">
        <%= image_tag(article.get_thumbnail, :onerror => 'this.src="'+asset_path('no_image.png')+'"') %>
      </div>
      <div id="url_host">
        <% if URI(article.url).host.length < 20 %>
          <p><%= image_tag "http://favicon.hatena.ne.jp/?url=" + article.url %><%= link_to URI(article.url).host, {:controller =>"search", :action => "search_article", :searchtext => URI(article.url).host, :type => "3", :sort => "1"} %></p>
        <% else %>
          <p><%= image_tag "http://favicon.hatena.ne.jp/?url=" + article.url %><%= link_to URI(article.url).host[0,20] + "..." , {:controller =>"search", :action => "search_article", :searchtext => URI(article.url).host, :type => "3", :sort => "1"} %></p>
        <% end %>
      </div>
      <div id="contents_preview">
        <p><%= article.get_contents_preview %></p>
      </div>
      <% tags = article.get_top_rated_tag %>
      <% if tags == nil || tags.length == 0 %>
        <div id="article-tags"></div>
      <% else %>
        <div class="article-tags">
          <ul class="tags">
            <% tags.each do |tag| %>
              <li><%= link_to tag ,{:controller => "search", :action => "search_article", :searchtext => tag, :target => "1",:type => "2", :sort => "1"} %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>
  <div style="text-align:center;">
    <%= paginate @articles, :window =>4, :outer_window => 2  %>
  </div>
<% end %>