<% content_for :head do %>
<%= stylesheet_link_tag "search", "bootstrap/bootstrap.css"  %>
<% end %>

<script>
$(document).ready(function() {
  set_option_area()
});
</script>

<!--TODO flashのスタイル等々微妙なので調整が必要-->
<form id="search_form" action="search" onLoad="set_option_area">
  <div id="search_main">
    <div id="operation_area">
      <div id="operation">
        <input type="text" name="searchtext" id="searchtext" value="<%= @searchtext %>" placeholder="Please input the words you want.">
        <input type="submit" id="search" value="search" class="button button-flat:hover submit"><br>
        <%= flash[:error] %>
      </div>
    </div>
    <div id="option_area">
      <div class="condition">
        <p>condition</p>
        <div class="select_area">
          <span id="condition_tag">tag</span><br>
          <span id="condition_title">title</span><br>
          <span id="condition_content">content</span><br>
          <input type="hidden" name="condition" id="condition" value="<%= @condition %>">
        </div>
      </div>
      <div class="sort">
        <p>sort</p>
        <div class="select_area">
          <span id="sort_Newest">Newest</span><br>
          <span id="sort_summary_num">summary num</span><br>
          <span id="sort_user_num">user num</span><br>
          <input type="hidden" name="sort" id="sort" value="<%= @sort %>">
        </div>
      </div>
      <div class="focus">
        <p>focus</p>
        <div class="select_area">
          <span id="focus_all">all</span><br>
          <% if signed_in? %>
            <span id="focus_reading">reading</span><br>
            <span id="focus_not_reading">not reading</span><br>
          <% end %>
          <input type="hidden" name="focus" id="focus" value="<%= @focus %>">
        </div>
      </div>
    </div>
    <div id="result_area">
      <% if @articles == nil || @articles.length == 0 %>
       <!-- <%= @searchtext %> の検索結果 0 件 -->
      <% else %>
        <div id="message">
          <%= @searchtext %> の検索結果 <%= @articles_num %> 件
        </div>
        <div style='text-align:center;'>
          <%= paginate @articles, :window => 4, :outer_window => 2  %>
        </div>        
        <% @articles.each do |article| %>
          <% if get_login_user && article.user_articles.where(:user_id => get_login_user.id).first %>
            <div class="article_contents">
          <% else %>
            <div class="article_contents_not_read">
          <% end %>
              <div id="thumbnail">
                <%= image_tag(article.thumbnail) %>
              </div>
              <div id="url_title">
                <p><a href="<%= article.url %>" target="_blank"><%= article.title[0, 200] %></a></p>
              </div>
              <div id="article_infomation">
                <div id="user_article_num">
                  <p><%= article.user_articles.length %> users.</p>
                </div>
                <div id="summary_num">
                  <%= link_to article.summaries.length , {:controller => "summary_lists", :action => "index", :article_id => article.id} %>summaries.
                </div>
              </div>
              <div id="contents_preview">
                <p><%= image_tag "http://favicon.hatena.ne.jp/?url=" + article.url %><%= article.contents_preview[0, 100] %></p>
              </div>
              <div id="article_operation">
                <% if get_login_user %>
                    <% if article.user_articles.where(:user_id => get_login_user.id).first %>
                      <button class="read_it_cancel" disabled>reading</button>
                    <% else %>
                      <button class="read_it_later" >add</button>
                    <% end %>
                <% else %>
                <% end %>
              </div>
              <% tags = article.get_top_rated_tag %>
              <% if tags == nil || tags.length == 0 %>
                <div id="tag">no tags for this article.<br></div>    
              <% else %>
                <div id="tag">tags for this article.<br>
                  <% tags.each do |tag| %>
                    <!--<span class="edited_tag"><%= link_to tag ,{:controller => "search", :action => "search", :searchtext => tag} %></span>-->
                    <span class="edited_tag"><%= link_to tag ,{:controller => "search", :action => "search", :searchtext => tag, :condition => "1", :sort => "1", :focus => "1"} %></span>
                  <% end %>
                </div>
              <% end %>
              <div id="category">
                category
              </div>
            </div>
          <% end %>
        <div style='text-align:center;'>
          <%= paginate @articles, :window => 4, :outer_window => 2  %>
        </div>        
      <% end %>
    </div>
  </div>
</form>
