<% content_for :head do %>
<%= stylesheet_link_tag "search", "bootstrap/bootstrap.css"  %>
<% end %>

<script>
$(document).ready(function() {
  set_option_area()
  hide_navbar_text()
});
toggleUnfollowBtn();
</script>

<form id="search_form" action="search_article" onLoad="set_option_area" onsubmit ="return checkSearchtext_search()">
  <div id="search_main">
    <div id="operation_area">
      <div id="operation">
        <input type="text" name="searchtext" id="searchtext" value="<%= @searchtext %>" placeholder="Please input the words you want.">
        <input type="submit" id="search" value="search" class="button button-flat:hover submit"><br>
      </div>
    </div>
    <div id="option_area">
      <div class="target_area">
<!--        <p>target</p>-->
        <div class="select_area">
          <span id="target_article"><%= t("target.article") %></span><br>
          <span id="target_user"><%= t("target.user") %></span><br>
        </div>
      </div>
      <div class="type_area">
<!--        <p>type</p>-->
        <div class="select_area">
          <span id="type_content"><%= t("type.content") %></span><br>
          <span id="type_tag"><%= t("type.tag") %></span><br>
          <span id="type_domain"><%= t("type.domain") %></span><br>
        </div>
      </div>
      <div class="category_area">
<!--        <p>category</p>-->
        <div class="select_area">
            <span id="category_all"><%= t("category.all") %></span><br>
          <% Category.all.each do |c| %>
            <span id="category_<%= c.name %>"><%= t("category."+c.name) %></span><br>
          <% end %>
        </div>
      </div>
      <input type="hidden" name="target" id="target" value="<%= @target %>">
      <input type="hidden" name="type" id="type" value="<%= @type %>">
      <input type="hidden" name="category" id="category" value="<%= @category %>">
    </div>
  </div>
</form>
<div id="result_area">
  <% if @target == "1" %>
    <%= render :template => "/search/_result_article" %>
  <% elsif @target == "2" %>
    <%= render :template => "/search/_result_user" %>
  <% else %>
  <% end %>
</div>
