<%= content_for :head do %>
  <%= stylesheet_link_tag "follow_lists", "bootstrap/bootstrap" %>
<% end %>

<div class="follow-lists-container">
  <div id="div-tab">
    <ul class="tab clear">
      <li><a href="following?name=<%= @user_name %>">following</a></li>
      <li><a href="followers?name=<%= @user_name %>" class="active">followers</a></li>
      <li><a href="suggestion?name=<%= @user_name %>">suggestion</a></li>
    </ul>
  </div>
  <%= render :partial => "follow_list", :locals => {:name => @user_name, :users => @followers} %>
</div>
