<%= content_for :head do %>
  <%= stylesheet_link_tag "follow_lists", "bootstrap/bootstrap" %>
<% end %>

<%= render :partial => "load_next_page" %>

<div class="follow-lists-container">
  <div id="div-tab">
    <ul class="tab clear">
      <li><a href="following?name=<%= @user_name %>">following</a></li>
      <li><a href="followers?name=<%= @user_name %>">followers</a></li>
      <li class="active"><a href="suggestion?name=<%= @user_name %>">suggestion</a></li>
    </ul>
  </div>
  <div id="user-list">
    <%= render :partial => "follow_list", :locals => {:name => @user_name, :users => @candidate_users} %>
  </div>
  <div id="loading-image"></div>
</div>
