<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=612232268799464";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div class="row">
  <div class="col-md-offset-7 col-xs-12 col-sm-12 col-md-5">
    <ul class="socialBtn">
      <li class="socialBtnFb">
        <div class="fb-like" data-href="<%= request.url %>" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
      </li>
      <li class="socialBtnNfb">
        <a href="http://b.hatena.ne.jp/entry/<%= request.url %>" class="hatena-bookmark-button" data-hatena-bookmark-title="SummaQ! ｜あとで読むをちゃんと読む 〜 要約キュレーションサービス" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
      </li>
      <li class="socialBtnNfb">
        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
        <script>!function(d,s,id)
        {var js,fjs=d.getElementsByTagName(s)[0],
          p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id))
          {js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}
        }(document, 'script', 'twitter-wjs');
        </script>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12 hotentry-menu">
    <div class="row">
      <div class="col-xs-6 col-md-6">
        <h3>Hot Entry</h3>
      </div>
      <div class="hidden-xs col-md-4" style="margin-top:8px;">
        <!--
        <input type="checkbox" id="only_summarized" style="font-size: 16px;">
          <%= t('article.filter_only_summarized') %>
          </input>
        <button >人気の要約がある記事</button>
        <button disabled>全ての記事</button>
          -->
      </div>
      <div class="col-xs-6 col-md-2 hotentry-menu-icons" style="margin-top:8px;">
        <a href="<%= url_for(:controller => 'hotentry', 
                             :action => 'small',
                             :category => params[:category],
                             :page => params[:page]) %>">
          <% if @view_type == 'small' %>
            <%= image_tag("icons/small_listing_selected.png", :size=>"24x24") %>
          <% else %>
            <%= image_tag("icons/small_listing.png", :size=>"24x24") %>
          <% end %>
        </a>
        <a href="<%= url_for(:controller => 'hotentry', 
                             :action => 'normal',
                             :category => params[:category],
                             :page => params[:page]) %>">
          <% if @view_type == 'normal' %>
            <%= image_tag("icons/normal_listing_selected.png", :size=>"24x24") %>
          <% else %>
            <%= image_tag("icons/normal_listing.png", :size=>"24x24") %>
          <% end %>
        </a>
        <a href="<%= url_for(:controller => 'hotentry', 
                             :action => 'large',
                             :category => params[:category],
                             :page => params[:page]) %>">
          <% if @view_type == 'large' %>
            <%= image_tag("icons/large_listing_selected.png", :size=>"24x24") %>
          <% else %>
            <%= image_tag("icons/large_listing.png", :size=>"24x24") %>
          <% end %>
        </a>
      </div>
    </div>
  </div>
</div>

<% if @category_name == 'personal' && @entries.size == 0 %>
  <p style="font-size:1.5em;">
    <%= t('hotentry.personal.no_entry_message') %>
  </p>
<% end %>
