<div class="row">
  <div class="col-xs-12 col-md-12 hotentry-menu">
    <div class="row">
      <div class="col-xs-6 col-md-6">
        <h3>Hot Entry</h3>
      </div>
      <div class="hidden-xs col-md-4" style="margin-top:8px;">
        <input type="checkbox" id="only_summarized" style="font-size: 16px;">
          <%= t('article.filter_only_summarized') %>
        </input>
      </div>
      <div class="col-xs-6 col-md-2 hotentry-menu-icons" style="margin-top:8px;">
        <a href="<%= url_for(:controller => 'hotentry', 
                             :action => 'small',
                             :category => params[:category],
                             :page => params[:page]) %>">
          <% if controller.action_name == 'small' %>
            <%= image_tag("icons/small_listing_selected.png", :size=>"24x24") %>
          <% else %>
            <%= image_tag("icons/small_listing.png", :size=>"24x24") %>
          <% end %>
        </a>
        <a href="<%= url_for(:controller => 'hotentry', 
                             :action => 'normal',
                             :category => params[:category],
                             :page => params[:page]) %>">
          <% if controller.action_name == 'normal' %>
            <%= image_tag("icons/normal_listing_selected.png", :size=>"24x24") %>
          <% else %>
            <%= image_tag("icons/normal_listing.png", :size=>"24x24") %>
          <% end %>
        </a>
        <a href="<%= url_for(:controller => 'hotentry', 
                             :action => 'large',
                             :category => params[:category],
                             :page => params[:page]) %>">
          <% if controller.action_name == 'large' %>
            <%= image_tag("icons/large_listing_selected.png", :size=>"24x24") %>
          <% else %>
            <%= image_tag("icons/large_listing.png", :size=>"24x24") %>
          <% end %>
        </a>
      </div>
    </div>
  </div>
</div>
