<% content_for :head do %>
<%= stylesheet_link_tag "webpage" %>
<% end %>

<div class="comment_box">
	<p>Register Complete.</p>
	<span id="msg"><%= @msg %></span>
</div>

<div id="entry-contents">
  <div id="thumbnail">
    <%= image_tag(@thumbnail, :size => "120x150") %>
  </div>
  <div id="url_title">
    <p><a href="<%= @url %>" target="_blank"><%= @title[0, 100] %></a></p>
  </div>
  <div id="contents_preview">
    <!--<p><%= simple_format(@contents_preview[0, 200]) %></p>-->
    <p><%= @contents_preview[0, 200] %></p>
  </div>
  <div id="category">
  </div>
  <div id="tag">your tags for this article.<br>
    <% @tags.each do |tag| %>
      <label><span class="edited-tag"><%= tag %></span></label>
    <% end %>
  </div>
</div>

<div id="operation-contents">
  <span id="prof_image"><%= image_tag(@prof_image, :size => "30x30") %></span>
  <span id="mypage">
    <%= link_to image_tag("icons/glyphicons_003_user.png", :size => "16x16") + content_tag(:p, "mypage") , {:controller => "mypage", :action => "index"} %>
  </span>
  <span id="summary_edit">
    <%= link_to image_tag("icons/glyphicons_030_pencil_gray.png", :size => "16x16") + content_tag(:p, "edit summary") , {:controller => "summary", :action => "edit", :article_id => @article_id} %>
  </span>
  <span id="summary_lists">
    <%= link_to image_tag("icons/glyphicons_114_list.png", :size => "16x16") + content_tag(:p, "summary lists") , {:controller => "summary_lists", :action => "index", :articleId => @article_id} %>
  </span>
</div>
