<% content_for :head do %>
  <%= stylesheet_link_tag "webpage" %>
<% end %>

<script>
$(document).ready(function() {
  loadConfirmView()
});
</script>

<div class="comment_box"><%= t("webpage.confirm") %></div>
<div class="url_box">
  <form method="POST" action="add_complete" class="confirm_url">
    <p class="url_title"><a href="<%= @url %>"target="_blank"><%= @title[0, 100] %></a></p>
    <p class="url_link"><%= image_tag "http://favicon.hatena.ne.jp/?url=" + @url %><a href="http://<%= URI(@url).host %>"target="_blank"><%= URI(@url).host %></a></p>
    <span id="summary_num">
      <% if @summary_num == nil || @summary_num == 0 then %>
        0 <%= t("summary.count") %>
      <% elsif @summary_num == 1 %>
        <%= link_to @summary_num, {:controller => "summary_lists", :action => "index", :article_id => @article_id} %> <%= t("summary.count_one") %>
      <% else %>
        <%= link_to @summary_num, {:controller => "summary_lists", :action => "index", :article_id => @article_id} %> <%= t("summary.count") %>
      <% end %>
    </span>
    <span id="reader_num">
      <% if @reader_num == nil || @reader_num == 0 then %>
        0 <%= t("reader.count") %>
      <% elsif @reader_num == 1 %>
        <%= @reader_num %> <%= t("reader.count_one") %>
      <% else%>
        <%= @reader_num %> <%= t("reader.count") %>
      <% end %>
    </span>
    <div id="tag_area">
      <% if @top_rated_tags == nil || @top_rated_tags.length == 0 %>
        <div id="recommend_tags"><%= t("tag.no_recommend_tags") %><br><br></div>
      <% else %>
        <div id="recommend_tags"><%= t("tag.recommend_tags") %><br>
          <% @top_rated_tags.each do |recommend_tag| %>
            <label><span class="recommend_tag" onclick="clickRecommendTag("<%= recommend_tag %>")" id="recommend_tag_<%= recommend_tag %>"><%= recommend_tag %></span></label>
          <% end %>
        </div>
      <% end %>

      <% if @recent_tags == nil || @recent_tags.length == 0 %>
        <div id="recent_tags"><%= t("tag.no_recent_tags") %><br><br></div>
      <% else %>
        <div id="recent_tags"><%= t("tag.recent_tags") %><br>
          <% @recent_tags.each do |recent_tag| %>
            <label><span class="recent_tag" onclick="clickRecentTag("<%= recent_tag %>")" id="recent_tag_<%= recent_tag %>"><%= recent_tag %></span></label>
          <% end %>
        </div>
      <% end %>


      <div id="my_tags"><%= t("tag.set_tags") %><%= image_tag("icons/glyphicons_016_bin.png", :size => "12x12", :id => "tag_clear") %><br>
        <% for num in 1..10 do %>
          <input type="text" class="tag_text" name="tag_text_<%= num %>" id="tag_text_<%= num %>" maxlength="10" value="<%= @set_tags[num-1] %>">
        <% end %>
      </div>
    </div>
    <div id="submit_area">
      <% if @add_flag == nil %>
        <input type="submit" id="submit" value="edit" class="button button-flat:hover submit" onclick="ckick_submit_button">
      <% else %>
        <input type="submit" id="submit" value="add" class="button button-flat:hover submit" onclick="ckick_submit_button">
      <% end %>
    </div>
      <input type="hidden" name="url" value="<%= @url %>">
      <input type="hidden" name="add_flag" value="<%= @add_flag %>">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </form>
</div>
