<% content_for :head do %>
  <%= stylesheet_link_tag "webpage" %>
<% end %>

<div class="comment_box">Comfirm.</div>
<div class="url_box">
  <form method="POST" action="add_complete" class="confirm_url">
    <p class="url_title"><%= @title[0, 100] %></p>
    <p class="url_link"><a href="<%= @url %>"target="_blank"><%= @url[0, 100] %></a></p>
    <div id="summary_num">
      <% if @summary_num != nil && @summary_num != 0 then %>
        <%= link_to @summary_num, {:controller => "summary_lists", :action => "index", :articleId => @article_id} %>&nbsp;summaries
      <% else %>0 summary<% end %>
    </div>
<!--
    <div id="comment_area">
      <textarea name="comment" rows="5"></textarea>
    </div>
-->
    <div id="tag_area">
      <!--
      <input type="checkbox" id="tag_checkbox">Hide Tag Area.</input><br>
      -->
      <div id="recommend-tags">recommend tags for this article.<br>
        <input type="checkbox" id="all_check">
        <label><span class="recommend-tag"><input type="checkbox" value="ruby">ruby</span></label>
        <label><span class="recommend-tag"><input type="checkbox" value="rails">rails</span></label>
        <label><span class="recommend-tag"><input type="checkbox" value="android">android</span></label>
        <label><span class="recommend-tag"><input type="checkbox" value="iphone">iphone</span></label>
        <label><span class="recommend-tag"><input type="checkbox" value="jquery">jquery</span></label>
        <label><span class="recommend-tag"><input type="checkbox" value="coffeescript">coffeescript</span></label>
        <label><span class="recommend-tag"><input type="checkbox" value="aws">aws</span></label>
        <label><span class="recommend-tag"><input type="checkbox" value="bootstrap">bootstrap</span></label>
        <%= image_tag("icons/glyphicons_190_circle_plus.png", :size => "16x16", :id => "tag_plus") %>
      </div>
      <div id="my-tags">your tags for this article.<br>
        <input type="text" class="tag_text" name="tag_text_1" id="tag_text_1">
        <input type="text" class="tag_text" name="tag_text_2" id="tag_text_2">
        <input type="text" class="tag_text" name="tag_text_3" id="tag_text_3">
        <input type="text" class="tag_text" name="tag_text_4" id="tag_text_4">
        <input type="text" class="tag_text" name="tag_text_5" id="tag_text_5">
        <input type="text" class="tag_text" name="tag_text_6" id="tag_text_6">
        <input type="text" class="tag_text" name="tag_text_7" id="tag_text_7">
        <input type="text" class="tag_text" name="tag_text_8" id="tag_text_8">
        <input type="text" class="tag_text" name="tag_text_9" id="tag_text_9">
        <input type="text" class="tag_text" name="tag_text_10" id="tag_text_10">
      </div>
    </div>
    <div id="submit_area">
      <input type="submit" id="submit" value="add" class="button button-flat:hover submit">
    </div>
      <input type="hidden" name="url" value="<%= @url %>">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </form>
</div>