<% content_for :head do %>
  <%= stylesheet_link_tag "webpage" %>
<% end %>

<div class="comment_box">Comfirm.</div>
<div class="url_box">
  <form method="POST" action="add_complete" class="confirm_url">
    <p class="url_title"><%= @title[0, 100] %></p>
    <p class="url_link"><a href="<%= @url %>"target="_blank"><%= @url[0, 100] %></a></p>
    <div id="summary_num">
      <% if @summary_num != nil && @summary_num != 0 then %>
        <%= link_to @summary_num, {:controller => "summary_lists", :action => "index", :articleId => @article_id} %>&nbsp;summaries
      <% else %>0 summary<% end %>
    </div>
    <div id="tag_area">
      <div id="recommend-tags">recommend tags for this article.<br>
        <input type="checkbox" id="all_check">
        <% @tags.each do |tag| %>
          <label><span class="recommend-tag"><input type="checkbox" value="<%= tag %>"><%= tag %></span></label>
        <% end %>
        <%= image_tag("icons/glyphicons_190_circle_plus.png", :size => "16x16", :id => "tag_plus") %>
      </div>
      <div id="my-tags">your tags for this article.<br>
        <% for num in 1..10 do %>
          <input type="text" class="tag_text" name="tag_text_<%= num %>" id="tag_text_<%= num %>">
        <% end %>
      </div>
    </div>
    <div id="submit_area">
      <input type="submit" id="submit" value="add" class="button button-flat:hover submit">
    </div>
      <input type="hidden" name="url" value="<%= @url %>">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </form>
</div>