<% content_for :head do %>
  　<%= stylesheet_link_tag "consumer", "social-buttons/zocial.css", "settings" %>
<% end %> 

<div class="setting_container">
  <%= render :partial => "settings/partials/navilist", :locals => {:user => @user} %>

  <div class="setting-contents">
    <h3>Mail Setting</h3>
    <div class="setting-inner">

      <dl>
        <dt>
          <label>Mail Address</label>
        </dt>
        <dd>
          <%= @email %>
        </dd>
      </dl>

      <dl>
        <dt>
          <label>Status</label>
        </dt>
        <dd>
          <%= @email_status %>
        </dd>
      </dl>

      <a href="<%= url_for :action => 'email_edit' %>">
        <button class="button button-flat:hover">edit</button>
      </a>
    </div>
  </div>
</div>
