<% content_for :head do %>
  　<%= stylesheet_link_tag "consumer", "social-buttons/zocial.css", "settings" %>
<% end %> 

<div class="setting_container">
  <%= render :partial => "settings/partials/navilist", :locals => {:user => @user} %>

  <div class="setting-contents">
    <h3>Mail Setting(Edit)</h3>
    <form method="post" accept-charset="UTF-8" action="<%= url_for :action => 'email_edit_complete'%>">
    <div class="setting-inner">

      <dl>
        <dt>
          <label>Mail Address</label>
        </dt>
        <dd>
          <%= @email %>
          <%= @email_status %>
        </dd>
      </dl>

      <dl>
        <dt>
          <label>Mail Address(New)</label>
        </dt>
        <input type="text" name="mail_addr" value="" style="width:97%;"/>
      </dl>

      <dl>
        <dt>
          <label>Mail Address(Confirm)</label>
        </dt>
        <input type="text" name="mail_addr_confirm" value="" style="width:97%"/>
      </dl>

      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" class="button button-flat:hover" value="send"></input>
    </div>
  </form>
  </div>
</div>
