<% content_for :head do %>
  　<%= stylesheet_link_tag "consumer", "social-buttons/zocial.css", "settings" %>
<% end %> 

<div class="setting-container">
  <%= render :partial => "settings/partials/navilist", :locals => {:user => @user} %>

  <div class="setting-contents">
    <h3><%=t('settings.email_setting')%></h3>
    <div class="setting-inner">

      <dl>
        <dt>
        <label><%= t('settings.email.mail_address') %></label>
        </dt>
        <dd>
          <%= @email %>
        </dd>
      </dl>

      <dl>
        <dt>
        <label><%=t('settings.email.status')%></label>
        </dt>
        <dd>
          <%= @email_status %>
        </dd>
      </dl>

      <a href="<%= url_for :action => 'email_edit' %>">
        <button class="button button-flat:hover"><%=t('settings.edit')%></button>
      </a>
    </div>
  </div>
</div>
