<% content_for :head do %>
  　<%= stylesheet_link_tag "consumer", "social-buttons/zocial.css", "settings" %>
<% end %> 

<div class="setting-container">
  <%= render :partial => "settings/partials/navilist", :locals => {:user => @user} %>

  <div class="setting-contents">
    <h3><%= t('settings.profile_setting') %></h3>
    <form method="post" accept-charset="UTF-8" action="<%= url_for :action => 'profile_edit_complete'%>" enctype="multipart/form-data">
    <div class="setting-inner">

      <dl>
        <dt>
        <label><%= t('settings.profile.name') %></label>
        </dt>
        <input type="text" name="user_full_name" value="<%= get_login_user.full_name %>" style="width:97%;"/>
      </dl>

      <dl>
        <dt>
        <label><%= t('settings.profile.image') %></label>
        </dt>
        <dd>
        <% begin %>
          <%= image_tag(get_login_user.prof_image, :size => "128x128") %>
        <% rescue %>
          Error Image.
        <% end %>
        </dd>
      </dl>

      <dl>
        <dt>
        <label><%= t('settings.profile.image') %>(New)</label>
        </dt>
        <dd>
          <div id="result"></div>
          <input id="inputFile" name="user[avatar]" type="file" style="width:98%"/>
          <script>
            display_input_image(window, document);
          </script>
        </dd>
      </dl>

      <dl>
        <dt>
        <label><%= t('settings.profile.self_introduction') %></label>
        </dt>
        <textarea name="user_comment" style="width:97%; height: 100px;"><%= get_login_user.comment %></textarea>
      </dl>

      <dl>
        <dt>
        <label><%= t('settings.profile.web_site') %></label>
        </dt>
        <input type="text" name="user_site_url" value="<%= get_login_user.site_url %>" style="width:97%;"/>
      </dl>

      <dl>
        <dt>
        <label><%=t('settings.profile.public')%></label>
        </dt>
        <dd>
        <% if get_login_user.public_flg %>
          <input type="radio" name="user_public_flg" value="FALSE" ><%= t('settings.profile.private_radio') %>
          <input type="radio" name="user_public_flg" value="TRUE" checked><%=t('settings.profile.public_radio')%>
        <% else %>
          <input type="radio" name="user_public_flg" value="FALSE" checked><%= t('settings.profile.private_radio') %>
          <input type="radio" name="user_public_flg" value="TRUE" ><%=t('settings.profile.public_radio')%>
        <% end %>
        </dd>
      </dl>

      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" class="button button-flat:hover" value="<%=t('settings.submit')%>"></input>
    </div>
    </form>
  </div>
</div>
