<% content_for :head do %>
  　<%= stylesheet_link_tag "consumer", "social-buttons/zocial.css", "settings" %>
<% end %> 

<div class="setting-container">
  <%= render :partial => "settings/partials/navilist", :locals => {:user => @user} %>

  <div class="setting-contents">
    <h3>User Profile</h3>
    <div class="setting-inner">

      <dl>
        <dt>
          <label>Your Name</label>
        </dt>
        <input type="text" name="user_full_name" value="<%= get_login_user.full_name %>" style="width:97%;" disabled="disabled"/>
      </dl>

      <dl>
        <dt>
          <label>Profile Image</label>
        </dt>
        <dd>
        <% begin %>
          <%= image_tag(get_login_user.prof_image, :size => "128x128") %>
        <% rescue %>
          Error Image.
        <% end %>
        </dd>
      </dl>

      <dl>
        <dt>
          <label>Self Introduction</label>
        </dt>
        <textarea name="user_comment" style="width:97%; height: 100px;" disabled="disabled"><%= get_login_user.comment %></textarea>
      </dl>

      <dl>
        <dt>
          <label>Your Site</label>
        </dt>
        <input type="text" name="user_site_url" value="<%= get_login_user.site_url %>" style="width:97%;" disabled="disabled"/>
      </dl>

      <dl>
        <dt>
          <label>Public Setting</label>
        </dt>
        <dd>
        <% if get_login_user.public_flg %>
          <input type="radio" name="user_public_flg" value="FALSE" disabled="disabled" >Private　
          <input type="radio" name="user_public_flg" value="TRUE" disabled="disabled" checked>Public
        <% else %>
          <input type="radio" name="user_public_flg" value="FALSE" disabled="disabled" checked>Private　
          <input type="radio" name="user_public_flg" value="TRUE" disabled="disabled" >Public
        <% end %>
        </dd>
      </dl>

      <a href="<%= url_for :action => 'profile_edit' %>">
        <button class="button button-flat:hover">edit</button>
      </a>

    </div>
  </div>
</div>
