<% content_for :head do %>
  　<%= stylesheet_link_tag "hotentry", "bootstrap/bootstrap.css" %>
<% end %> 

<div class="hotentry_container">
  <h1 class="hotentry">
    <a href="<%= url_for :controller => 'hotentry', :action => 'index' %>">
      Hot Entry
    </a>
  </h1>
<ul class="entry_container">
  <input type="checkbox" id="only_summarized" style="font-size: 16px;"> Summarized only. </input>

  <% @entries.each do |e| %>
    <li>
    <% if e.getTopRatedSummary %>

      <div class="row entry_box_with_summary">
        Strength[<%= sprintf("%d", e.getCurrentStrength*100) %>], 
        LastAddedTime[<%= e.last_added_at %>]
        <div class="col-md-12 entry_box">

          <div class="row">
            <div class="col-md-12 entry_box_top">
              <div class="row">
                <div class="col-md-8 entry_title">
                  <a href="<%= e.url %>" target="_blank">
                    <h3>
                      <%= e.title %>
                    </h3>
                  </a>
                </div>
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-4 entry_count_num"">
                      <% if getLoginUser %>
                        <% if e.user_articles.where(:user_id => getLoginUser.id).first %>
                          <button class="read_it_cancel" onClick='clickReadItLater(this, "<%= e.url %>", "<%= e.id %>")' disabled>reading</button>
                        <% else %>
                          <button class="read_it_later" onClick='clickReadItLater(this, "<%= e.url %>", "<%= e.id %>")'>Read later</button>
                        <% end %>
                      <% else %>
                      <% end %>
                    </div>
                    <div class="col-md-4 entry_count_num">
                      <span class="entry_count_label">Reader</span>
                      </br>
                      </br>
                      <span id="reading_counter<%= e.id %>" class="entry_count_num"><%= e.user_articles.count %></span>
                    </div>
                    <a href="<%= url_for :controller => 'summary_lists', :action => 'index', :articleId => e.id %>">
                      <div class="col-md-4 entry_count_num">
                        <span class="entry_count_label">Summaries</span>
                        </br>
                        </br>
                        <span class="entry_count_num" style="text-decoration: underline;"><%= e.summaries.count %></span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-9 entry_box_left">

              <div class="row">
                <div class="col-md-4 col-md-offset-1 entry_summary_label">
                  <label style="position: absolute; top: 20%;">Top rated summary</label>
                </div>
                <div class="col-md-3 col-md-offset-2">
                  <a href="<%= url_for :controller => 'mypage', :action => 'index', :name => e.getTopRatedSummary.user.name %>">
                    <%= image_tag e.getTopRatedSummary.user.prof_image, :class => "summarist_icon", :size => "26x26" %>
                    <span><%= e.getTopRatedSummary.user.name %></span>
                  </a>
                </div>
              </div>

              <div class="row">
                <div class="col-md-9 col-md-offset-1 entry_top_summary">
                  <textarea disabled="disabled"><%= e.getTopRatedSummary.content %></textarea>
                </div>
                <div class="col-md-2 entry_top_like">
                  <div class="entry_like_num">
                    <div id="good_summary_count<%= e.getTopRatedSummary.id %>"><%= e.getTopRatedSummary.good_summaries.count %></div>
                  </div>
                  <a onclick="clickGoodSummary(<%= e.getTopRatedSummary.id %>)">
                    <% if getLoginUser && e.getTopRatedSummary.good_summaries.where(:user_id => getLoginUser.id).first %>
                      <%= image_tag("icons/MunchCancel.png", :size => "48x48", :id => 'good_summary_img'+e.getTopRatedSummary.id.to_s, :style => "cursor:pointer;")%>
                    <% else %>
                      <%= image_tag("icons/MunchLike.png", :size => "48x48", :id => 'good_summary_img'+e.getTopRatedSummary.id.to_s, :style => "cursor:pointer;")%>
                    <% end %>
                  </a>
                  <div class="entry_top_like_label">
                    <label>Good Summary</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3 col-md-offset-8">
                  <% if getLoginUser %>
                    <a href="<%= url_for :controller => 'summary', :action => 'edit', :article_id => e.id %>">edit summary</a>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="col-md-3 entry_box_right">
              <div class="row" style="margin-top:60px;">
                <div class="col-md-8 col-md-offset-2">
                  <%= image_tag "icons/good_summary.jpg", :size => "128x160" %>
                </div>
              </div>
              <div class="row" style="margin: 10px 0;">
                <div class="col-md-1 col-md-offset-1">
                  <%= image_tag "http://favicon.hatena.ne.jp/?url=" + e.url %>
                </div>
                <div class="col-md-8">
                  <cite style="word-wrap: break-word;">
                    <%= URI(e.url).host %>
                  </cite>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    <% else %>
      <div class="row entry_box_no_summary">
        Strength[<%= sprintf("%d", e.getCurrentStrength*100) %>], 
        LastAddedTime[<%= e.last_added_at %>]
        <div class="col-md-12 entry_box_no_sum">
          <div class="row entry_box_top">
            <div class="col-md-8 entry_title">
              <a href="<%= e.url %>" target="_blank">
                <h3><%= e.title %></h3>
              </a>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-4 entry_count_num">
                  <% if getLoginUser %>
                    <% if e.user_articles.where(:user_id => getLoginUser.id).first %>
                      <button class="read_it_cancel" onClick='clickReadItLater(this, "<%= e.url %>", "<%= e.id %>")' disabled>reading</button>
                    <% else %>
                      <button class="read_it_later" onClick='clickReadItLater(this, "<%= e.url %>", "<%= e.id %>")'>Read later</button>
                    <% end %>
                  <% else %>
                  <% end %>
                </div>
                <div class="col-md-4 entry_count_num">
                  <span class="entry_count_label">Readers</span>
                  </br>
                  </br>
                  <span id="reading_counter<%= e.id %>" class="entry_count_num"><%= e.user_articles.count %></span>
                </div>
                <a href="<%= url_for :controller => 'summary_lists', :action => 'index', :articleId => e.id %>">
                  <div class="col-md-4 entry_count_num">
                    <span class="entry_count_label">Summaries</span>
                    </br>
                    </br>
                    <span class="entry_count_num" style="text-decoration: underline;"><%= e.summaries.count %></span>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-9 entry_box_left">
              <div class="row">
                <div class="col-md-4 col-md-offset-1 entry_contents_prev_label">
                  <label>Contents Preview</label></br>
                </div>
              </div>
              <div class="row">
                <div class="col-md-9 col-md-offset-1">
                  <div class="entry_contents_prev">
                    <p><%= e.contents_preview %></p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 col-md-offset-8" style="margin-top:5px;">
                  <% if getLoginUser %>
                    <a href="<%= url_for :controller => 'summary', :action => 'edit', :article_id => e.id %>">edit summary</a>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="col-md-3 entry_box_right">
              <div class="row" style="margin-top:10px;">
                <div class="col-md-8 col-md-offset-2">
                  <%= image_tag "icons/good_summary.jpg", :size => "128x160" %>
                </div>
              </div>
              <div class="row" style="margin: 10px 0;">
                <div class="col-md-1 col-md-offset-1">
                  <%= image_tag "http://favicon.hatena.ne.jp/?url=" + e.url %>
                </div>
                <div class="col-md-8">
                  <cite style="word-wrap: break-word;">
                    <%= URI(e.url).host %>
                  </cite>
                </div>
              </div>
            </div>

        </div>
      </div>
    <% end %>
    </li>
  <% end %>

</ul>
</div>
