<% content_for :head do %>
  　<%= stylesheet_link_tag "hotentry", "bootstrap/bootstrap.css" %>
<% end %> 

<div class="row">
  <div class="col-md-12 hotentry-container">
    <div class="row">
      <div class="col-md-12 hotentry-menu">
        <div class="row">
          <div class="col-md-9">
            <h3>Hot Entry</h3>
          </div>
          <div class="col-md-3">
            <a href="<%= url_for(:controller => 'hotentry', :action => 'small') %>">
              small
            </a>
            <a href="<%= url_for(:controller => 'hotentry', :action => 'normal') %>">
              normal
            </a>
            <a href="<%= url_for(:controller => 'hotentry', :action => 'large') %>">
              large
            </a>
          </div>
        </div>
      </div>
    </div>

  <% @entries.each do |e| %>
    <div class="row">
      <div class="col-md-12 hotentry-small-row">
        <div class="row hotentry-small-body">
        <% if e.get_top_rated_summary %>
          <div class="col-md-1 hotentry-small-order">
        <% else %>
          <div class="col-md-1 hotentry-small-order-nosum">
        <% end %>
          <%= @hash[e.id] %>.
          </div>
          <div class="col-md-11">
            <div class="row">
              <div class="col-md-12 hotentry-small-title">
                <a href="<%= e.url %>" target="_blank">
                  <h5><%=e.title%></h5>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 hotentry-small-summaries">
                <%= e.user_articles.count %> readers,
                <a href="<%= url_for(:controller => 'summary_lists',
                                     :action=>'index',
                                     :articleId => e.id) %>">
                  <%= e.summaries.count %> summaries.
                </a>
              </div>
              <div class="col-md-6 hotentry-normal-domain">
                <%= image_tag "http://favicon.hatena.ne.jp/?url=" + e.url %>
                <%= URI(e.url).host %>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  <% end %>

  </div>
</div>
