<% content_for :head do %>
  　<%= stylesheet_link_tag("hotentry", 
                            "bootstrap/bootstrap.css") %>
<meta name="keywords" content="<%=t('hotentry.meta_keywords')%>" xml:lang="ja" lang="ja" />
<meta name="description" content="<%=t('hotentry.meta_description')%>"/>
<% end %> 

<div class="row">
  <div class="col-sm-12 col-md-12 hotentry-container">
    <div class="row">
      <div class="hidden-sm col-md-2">
        <%= render(:partial => "hotentry/partials/hotentrytab") %>
      </div>
      <div class="col-sm-12 col-md-10">
        <%= render :partial => "hotentry/partials/hotentrymenu" %>
      <% @entries.each do |e| %>
        <div class="row">
        <% if e.get_top_rated_summary %>
          <% if e.has_good_summary? %>
            <div class="col-sm-12 col-md-12 hotentry-large-row hotentry-row-with-good-summary">
          <% else %>
            <div class="col-sm-12 col-md-12 hotentry-large-row hotentry-row-with-summary">
          <% end %>
        <% else %>
          <div class="col-sm-12 col-md-12 
            hotentry-large-row-nosum hotentry-row-no-summary">
        <% end %>
            <div class="row hotentry-normal-body">
              <div class="col-sm-12 col-md-12">
                <div class="row">
                  <div class="col-sm-12 col-md-10 hotentry-large-title">
                    <a href="<%= e.url %>" target="_blank">
                      <h4><%=e.title%></h4>
                    </a>
                  </div>
                  <div class="col-sm-12 col-md-2">
                  <% if get_login_user %>
                    <%= image_tag(
                      "ajax-loader.gif", 
                      :id => "mark_read_loader" + e.id.to_s, 
                      :style => "display:none;"
                    ) %>
                    <%= image_tag(
                      "ajax-loader.gif", 
                      :id => "add_page_loader" + e.id.to_s, 
                      :style => "display:none; margin-top: 35px;"
                    ) %>
                    <% if(e.user_articles.where(
                      :user_id => get_login_user.id
                    ).first) %>
                      <% if(e.user_articles.where(
                        :user_id => get_login_user.id).first.read_flg
                      ) %>
                        <button id="mark_as_read_btn<%= e.id %>" class="mark_as_unread" onClick='clickMarkAsRead(this, "<%= e.id %>")' >
                          <%= t('read_status.mark_as_unread') %>
                        </button>
                      <% else %>
                        <button id="mark_as_read_btn<%= e.id %>" class="mark_as_read" onClick='clickMarkAsRead(this, "<%= e.id %>")' >
                          <%= t('read_status.mark_as_read') %>
                        </button>
                      <% end %>
                      <button class="read_it_cancel" onClick='clickReadItLater(this, "<%= e.url %>", "<%= e.id %>")' >
                        <%= t('read_later.cancel') %>
                      </button>
                    <% else %>
                      <button id="mark_as_read_btn<%= e.id %>" class="mark_as_read" onClick='clickMarkAsRead(this, "<%= e.id %>")' style="visibility:hidden;">
                        <%= t('read_status.mark_as_read') %>
                      </button>
                      <button class="read_it_later" onClick='clickReadItLater(this, "<%= e.url %>", "<%= e.id %>")'>
                        <%= t('read_later.add') %>
                      </button>
                    <% end %>
                  <% end %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-3 hotentry-large-summaries">
                    <span id="reading_counter<%= e.id %>">
                      <% if e.user_articles_count %>
                        <%= e.user_articles_count %> 
                      <% else %>
                        0
                      <% end %>
                    </span>
                    <% if e.user_articles_count != 1 %>
                      <%= t('reader.count') %>,
                    <% else %>
                      <%= t('reader.count_one') %>,
                    <% end %>
                    <a href="<%= url_for(:controller => 'summary_lists',
                                         :action=>'index',
                                         :article_id => e.id) %>">
                      <% if e.summaries_count %>
                        <%= e.summaries_count %>
                      <% else %>
                        0
                      <% end %>
                      <% if e.summaries_count != 1 %>
                        <%= t('summary.count') %>.
                      <% else %>
                        <%= t('summary.count_one') %>.
                      <% end %>
                    </a>
                  </div>
                  <div class="col-sm-12 col-md-3">
                    <% if e.get_top_rated_summary %>
                      <%= link_to(t('summary.view_all'), 
                                  :controller => 'summary_lists',
                                  :action => 'index',
                                  :article_id => e.id) %>
                    <% end %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-9 col-md-3 hotentry-large-image">
                    <div class="hotentry-category">
                      <%= t('category.'+e.get_category_name) %>
                    </div>
                    <%= image_tag(
                      e.thumbnail,
                      :class => "hotentry-large-image-imgtag",
                      :onerror => 'this.src="'+asset_path('no_image.png')+'"'
                    ) %>
                  </div>
                  <div class="col-sm-12 col-md-9 hotentry-large-contents">
                    <div class="row hotentry-large-contents-header">
                      <% if e.get_top_rated_summary %>
                        <% if e.has_good_summary? %>
                         <div class="col-sm-6 col-md-8 hotentry-top-summary">
                           <%= t('article.top_rated_summary') %>
                         </div>
                        <% else %>
                         <div class="col-sm-6 col-md-8 hotentry-normal-summary">
                           <%= t('article.normal_summary') %>
                         </div>
                        <% end %>
                       <div class="col-sm-6 col-md-4">
                         <a href="<%= url_for(
                           :controller => 'mypage', 
                           :action => 'index', 
                           :name => e.get_top_rated_summary.user.name
                         ) %>">
                           <%= image_tag(
                             e.get_top_rated_summary.user.prof_image,
                             :class => "summarist_icon",
                             :size => "26x26"
                           ) %>
                           <span>
                             <%= e.get_top_rated_summary.user.name %>
                           </span>
                         </a>
                       </div>
                      <% else %>
                       <div class="col-sm-6 col-md-6 hotentry-contents-preview">
                         <%= t('article.contents_preview') %>
                       </div>
                      <% end %>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 col-md-12">
                      <% if e.get_top_rated_summary %>
                        <p>
                          <%= e.get_top_rated_summary.content %>
                        </p>
                      <% else %>
                        <p>
                          <%= e.get_contents_preview %>
                          ...
                        </p>
                      <% end %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6 col-md-9">
                        <a href="<%= url_for(
                          :controller => 'summary', 
                          :action => 'edit', 
                          :article_id => e.id
                        ) %>">
                          <%= t('summary.edit') %>
                        </a>
                      </div>
                      <div class="col-sm-6 col-md-3 hotentry-large-goodsummary">
                      <% if e.get_top_rated_summary %>
                        <a onclick="clickGoodSummary(<%= e.get_top_rated_summary.id %>)">
                          <% if(
                            get_login_user && 
                            e.get_top_rated_summary.good_summaries.where(
                              :user_id => get_login_user.id
                            ).first
                          ) %>
                            <%= image_tag(
                              "icons/MunchCancel.png", 
                              :size => "26x26", 
                              :id => 'good_summary_img'+e.get_top_rated_summary.id.to_s, 
                              :style => "cursor:pointer;"
                            )%>
                          <% else %>
                            <%= image_tag(
                              "icons/MunchLike.png", 
                              :size => "26x26", 
                              :id => 'good_summary_img'+e.get_top_rated_summary.id.to_s, 
                              :style => "cursor:pointer;"
                            )%>
                          <% end %>
                        </a>
                        <span id="good_summary_count<%= e.get_top_rated_summary.id %>">
                          <%= e.get_top_rated_summary.good_summaries.count %>
                        </span>
                        <%= t('good_summary.add') %>
                      <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row hotentry-large-bottom">
              <div class="col-md-6 hotentry-large-domain">
                <a href="<%= url_for(
                  :controller => 'search',
                  :action => 'search_article',
                  :searchtext => URI(e.url).host,
                  :sort => '3',
                  :target => '1',
                  :type => '3'
                ) %>">
                  <%= image_tag(
                    "http://favicon.hatena.ne.jp/?url=" + 
                    e.url
                  ) %>
                  <%= URI(e.url).host %>
                </a>
              </div>
              <div class="col-md-6 hotentry-large-tags">
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= paginate(@entries) %>
      </div>
      <div class="visible-sm">
        <%= render(:partial => "hotentry/partials/hotentrytab") %>
      </div>
    </div>
  </div>
</div>
