<% content_for :head do %>
  　<%= stylesheet_link_tag("hotentry", 
                            "bootstrap/bootstrap.css") %>
<% end %> 

<div class="row">
  <div class="col-md-12 hotentry-container">
    <div class="row">
      <div class="col-md-2">
        <%= render(:partial => "hotentry/partials/hotentrytab") %>
      </div>
      <div class="col-md-10">
        <%= render :partial => "hotentry/partials/hotentrymenu" %>
      <% @entries.each do |e| %>
        <div class="row">
        <% if e.get_top_rated_summary %>
          <div class="col-md-12 hotentry-large-row hotentry-row-with-summary">
        <% else %>
          <div class="col-md-12 
            hotentry-large-row-nosum hotentry-row-no-summary">
        <% end %>
            <div class="row hotentry-normal-body">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-10 hotentry-large-title">
                    <a href="<%= e.url %>" target="_blank">
                      <h4><%=e.title%></h4>
                    </a>
                  </div>
                  <div class="col-md-2">
                  <% if get_login_user %>
                    <%= image_tag(
                      "ajax-loader.gif", 
                      :id => "mark_read_loader" + e.id.to_s, 
                      :style => "display:none;"
                    ) %>
                    <%= image_tag(
                      "ajax-loader.gif", 
                      :id => "add_page_loader" + e.id.to_s, 
                      :style => "display:none; margin-top: 35px;"
                    ) %>
                    <% if(e.user_articles.where(
                      :user_id => get_login_user.id
                    ).first) %>
                      <% if(e.user_articles.where(
                        :user_id => get_login_user.id).first.read_flg
                      ) %>
                        <button id="mark_as_read_btn<%= e.id %>" class="mark_as_unread" onClick='clickMarkAsRead(this, "<%= e.id %>")' >
                          Unread
                        </button>
                      <% else %>
                        <button id="mark_as_read_btn<%= e.id %>" class="mark_as_read" onClick='clickMarkAsRead(this, "<%= e.id %>")' >
                          Mark as read
                        </button>
                      <% end %>
                      <button class="read_it_cancel" onClick='clickReadItLater(this, "<%= e.url %>", "<%= e.id %>")' >
                        Read cancel
                      </button>
                    <% else %>
                      <button id="mark_as_read_btn<%= e.id %>" class="mark_as_read" onClick='clickMarkAsRead(this, "<%= e.id %>")' style="visibility:hidden;">
                        Mark as read
                      </button>
                      <button class="read_it_later" onClick='clickReadItLater(this, "<%= e.url %>", "<%= e.id %>")'>
                        Read later
                      </button>
                    <% end %>
                  <% end %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 hotentry-large-summaries">
                    <span id="reading_counter<%= e.id %>">
                      <%= e.user_articles.count %> 
                    </span>
                    readers,
                    <a href="<%= url_for(:controller => 'summary_lists',
                                         :action=>'index',
                                         :article_id => e.id) %>">
                      <%= e.summaries.count %> summaries.
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3 hotentry-large-image">
                    <%= image_tag(
                      e.thumbnail,
                      :class => "hotentry-large-image-imgtag",
                    ) %>
                  </div>
                  <div class="col-md-9 hotentry-large-contents">
                    <div class="row hotentry-large-contents-header">
                      <% if e.get_top_rated_summary %>
                       <div class="col-md-8 hotentry-top-summary">
                         Top rated summary
                       </div>
                       <div class="col-md-4">
                         <a href="<%= url_for(
                           :controller => 'mypage', 
                           :action => 'index', 
                           :name => e.get_top_rated_summary.user.name
                         ) %>">
                           <%= image_tag(
                             e.get_top_rated_summary.user.prof_image,
                             :class => "summarist_icon",
                             :size => "26x26"
                           ) %>
                           <span>
                             <%= e.get_top_rated_summary.user.name %>
                           </span>
                         </a>
                       </div>
                      <% else %>
                       <div class="col-md-6 hotentry-contents-preview">
                         Contents preview
                       </div>
                      <% end %>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                      <% if e.get_top_rated_summary %>
                        <p>
                          <%= e.get_top_rated_summary.content %>
                        </p>
                      <% else %>
                        <p>
                          <%= e.get_contents_preview %>
                        </p>
                      <% end %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-9">
                        <a href="<%= url_for(
                          :controller => 'summary', 
                          :action => 'edit', 
                          :article_id => e.id
                        ) %>">
                          Edit summary
                        </a>
                      </div>
                      <div class="col-md-3 hotentry-large-goodsummary">
                      <% if e.get_top_rated_summary %>
                        <a onclick="clickGoodSummary(<%= e.get_top_rated_summary.id %>)">
                          <% if(
                            get_login_user && 
                            e.get_top_rated_summary.good_summaries.where(
                              :user_id => get_login_user.id
                            ).first
                          ) %>
                            <%= image_tag(
                              "icons/MunchCancel.png", 
                              :size => "26x26", 
                              :id => 'good_summary_img'+e.get_top_rated_summary.id.to_s, 
                              :style => "cursor:pointer;"
                            )%>
                          <% else %>
                            <%= image_tag(
                              "icons/MunchLike.png", 
                              :size => "26x26", 
                              :id => 'good_summary_img'+e.get_top_rated_summary.id.to_s, 
                              :style => "cursor:pointer;"
                            )%>
                          <% end %>
                        </a>
                        <span id="good_summary_count<%= e.get_top_rated_summary.id %>">
                          <%= e.get_top_rated_summary.good_summaries.count %>
                        </span>
                        likes.
                      <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row hotentry-large-bottom">
              <div class="col-md-6 hotentry-large-domain">
                <%= image_tag("http://favicon.hatena.ne.jp/?url=" + e.url) %>
                <%= URI(e.url).host %>
              </div>
              <div class="col-md-6 hotentry-large-tags">
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
