<% content_for :head do %>
  　<%= stylesheet_link_tag("hotentry", 
                            "bootstrap/bootstrap.css") %>
<meta name="keywords" content="<%=t('hotentry.meta_keywords')%>" xml:lang="ja" lang="ja" />
<meta name="description" content="<%=t('hotentry.meta_description')%>"/>
<% end %> 

<div class="row">
  <div class="col-md-12 hotentry-container">
    <div class="row">
      <div class="hidden-xs col-md-2">
        <%= render(:partial => "hotentry/partials/hotentrytab") %>
      </div>
      <div class="col-md-10">
        <%= render(:partial => "hotentry/partials/hotentrymenu") %>
      <% @entries.each do |e| %>
        <div class="row">
        <% if e.get_top_rated_summary %>
          <% if e.has_good_summary? %>
            <div class="col-md-12 hotentry-row hotentry-row-with-good-summary">
          <% else %>
            <div class="col-md-12 hotentry-row hotentry-row-with-summary">
          <% end %>
        <% else %>
          <div class="col-md-12 hotentry-row hotentry-row-no-summary">
        <% end %>
            <div class="row hotentry-normal-body">
              <div class="hidden-xs col-md-2 hotentry-normal-image">
                <div class="hotentry-category">
                  <%= t('category.'+e.get_category_name) %>
                </div>
                <%= image_tag(
                  e.thumbnail,
                  :class => "hotentry-normal-image-imgtag",
                  :onerror => 'this.src="'+asset_path('no_image.png')+'"'
                ) %>
              </div>
              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-12 hotentry-normal-title">
                    <a href="<%= e.url %>" target="_blank">
                      <h5><%=e.title%></h5>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 hotentry-normal-contents">
                    <% if e.get_top_rated_summary %>
                      <% if e.has_good_summary? %>
                        <span class="hotentry-top-summary">
                          <%= t('article.top_rated_summary') %>
                        </span>
                      <% else %>
                        <span class="hotentry-normal-summary">
                          <%= t('article.normal_summary') %>
                        </span>
                      <% end %>
                      <p>
                        <%= e.get_top_rated_summary.content %>
                      </p>
                    <% else %>
                      <span class="hotentry-contents-preview">
                        <%= t('article.contents_preview') %>
                      </span>
                      <p>
                        <%= e.get_contents_preview %>
                        ...
                      </p>
                    <% end %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-md-6 hotentry-normal-summaries">
                    <% if e.user_articles_count %>
                      <%= e.user_articles_count %>
                    <% else %>
                      0
                    <% end %>
                    <% if e.user_articles_count != 1 %>
                      <%= t('reader.count') %>,
                    <% else %>
                      <%= t('reader.count_one') %>,
                    <% end %>
                    <a href="<%= url_for(:controller=>'summary_lists',
                                         :action=>'index',
                                         :article_id=>e.id) %>">
                      <% if e.summaries_count %>
                        <%= e.summaries_count %>
                      <% else %>
                        0
                      <% end %>
                      <% if e.summaries_count != 1 %>
                        <%= t('summary.count') %>.
                      <% else %>
                        <%= t('summary.count_one') %>.
                      <% end %>
                    </a>
                  </div>
                  <div class="col-xs-12 col-md-6 hotentry-normal-summaries">
                    <% if e.get_top_rated_summary %>
                      <%= link_to(t('summary.view_all'),
                                  :controller => 'summary_lists',
                                  :action => 'index',
                                  :article_id => e.id) %>
                    <% else %>
                      <%= link_to(t('summary.edit'),
                                  :controller => 'summary',
                                  :action => 'edit',
                                  :article_id => e.id) %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="row hotentry-normal-bottom">
              <div class="col-md-6 hotentry-normal-domain">
                <a href="<%= url_for(
                  :controller => 'search',
                  :action => 'search_article',
                  :searchtext => URI(e.url).host,
                  :sort => '3',
                  :target => '1',
                  :type => '3'
                ) %>">
                  <%= image_tag(
                    "http://favicon.hatena.ne.jp/?url=" + 
                    e.url
                  ) %>
                  <%= URI(e.url).host %>
                </a>
              </div>
              <div class="col-md-6 hotentry-normal-tags">
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= paginate(@entries) %>
      </div>
      <div class="visible-xs">
        <%= render(:partial => "hotentry/partials/hotentrytab") %>
      </div>
    </div>
  </div>
</div>

