
<div class="setting-navi">
  <h3>
    <%= get_login_user.name %>
  </h3>
  <div class="setting-inner">
    <ul>
      <li>
      <% if @action_type == 'profile' %>
        <a class="selected" href="<%= url_for :controller => 'settings', :action => 'profile_edit' %>">
          <%= t('settings.profile_setting') %>
        </a>
      <% else %>
        <a href="<%= url_for :controller => 'settings', :action => 'profile_edit' %>">
          <%= t('settings.profile_setting') %>
        </a>
      <% end %>
      </li>
      <li>
      <% if @action_type == 'email' %>
        <a class="selected" href="<%= url_for :controller => 'settings', :action => 'email' %>">
          <%= t('settings.email_setting') %>
        </a>
      <% else %>
        <a href="<%= url_for :controller => 'settings', :action => 'email' %>">
          <%= t('settings.email_setting') %>
        </a>
      <% end %>
      </li>
<!--
      <li>
      <% if @action_type == 'account' %>
        <a class="selected" href="<%= url_for :controller => 'settings', :action => 'account' %>">
          <%= t('settings.account_setting') %>
        </a>
      <% else %>
        <a href="<%= url_for :controller => 'settings', :action => 'account' %>">
          <%= t('settings.account_setting') %>
        </a>
      <% end %>
      </li>
-->
    </ul>
  </div>
</div>
