<% if flash[:alert] %>
  <div class='alert'>
   <%= h(flash[:alert]) %>
  </div>
<% end %>
<% if flash[:error] %>
  <div class='login_error'>
   <%= h(flash[:error]) %>
  </div>
<% end %>
<% if flash[:success] %>
  <div class='success'>
   <%= h(flash[:success]) %>
  </div>
<% end %>

<div class="setting-navi">
  <h3>
    <%= getLoginUser.name %>
  </h3>
  <div class="setting-inner">
    <ul>
      <li>
      <% if @action_type == 'profile' %>
        <a class="selected" href="<%= url_for :controller => 'settings', :action => 'profile' %>">Profile</a>
      <% else %>
        <a href="<%= url_for :controller => 'settings', :action => 'profile' %>">Profile</a>
      <% end %>
      </li>
      <li>
      <% if @action_type == 'email' %>
        <a class="selected" href="<%= url_for :controller => 'settings', :action => 'email' %>">Emails</a>
      <% else %>
        <a href="<%= url_for :controller => 'settings', :action => 'email' %>">Emails</a>
      <% end %>
      </li>
      <li>
      <% if @action_type == 'account' %>
        <a class="selected" href="<%= url_for :controller => 'settings', :action => 'account' %>">Account Settings</a>
      <% else %>
        <a href="<%= url_for :controller => 'settings', :action => 'account' %>">Account Settings</a>
      <% end %>
      </li>
    </ul>
  </div>
</div>
