<% if flash[:alert] %>
  <div class='alert'>
   <%= h(flash[:alert]) %>
  </div>
<% end %>
<% if flash[:error] %>
  <div class='login_error'>
   <%= h(flash[:error]) %>
  </div>
<% end %>
<% if flash[:success] %>
  <div class='success'>
   <%= h(flash[:success]) %>
  </div>
<% end %>
<% if flash[:sreg_results] %>
  <div class='alert'>
  <%= flash[:sreg_results] %>
  </div>
<% end %>
<% if flash[:pape_results] %>
  <div class='alert'>
  <%= flash[:pape_results] %>
  </div>
<% end %>
<div id="verify-form">
  <form method="get" accept-charset="UTF-8" 
        action='<%= url_for :action => 'start' %>'>
    Identifier:
    <input type="text" class="openid" name="openid_identifier" />
    <input type="submit" value="Verify" /><br />
    <input type="checkbox" name="immediate" id="immediate" /><label for="immediate">Use immediate mode</label><br/>
    <input type="checkbox" name="use_sreg" id="use_sreg" /><label for="use_sreg">Request registration data</label><br/>
    <input type="checkbox" name="use_pape" id="use_pape" /><label for="use_pape">Request phishing-resistent auth policy (PAPE)</label><br/>
    <input type="checkbox" name="force_post" id="force_post" /><label for="force_post">Force the transaction to use POST by adding 2K of extra data</label>
  </form>
</div>

<ul>
  <li>
  <a href="<%= url_for :action => 'start', :openid_identifier => 'yahoo.co.jp', :fromUrl => params[:fromUrl] %>">
    <img src="http://i.yimg.jp/images/login/btn/btnXSLogin.gif" width="116" height="28"alt="Yahoo! JAPAN IDでログイン" border="0">
  </a>
  </li>
  <li>
  <a href="<%= url_for :action => 'start', :openid_identifier => 'mixi.jp', :fromUrl => params[:fromUrl] %>">
    <%= image_tag("login_mixi.png") %>
  </a>
  </li>
  <li>
  <a href="<%= url_for :action => 'start', :openid_identifier => 'www.google.com/accounts/o8/id', :fromUrl => params[:fromUrl] %>">
    <button style="background-color: #dd4b39;">Sign in with Google</button>
  </a>
  </li>
</ul>
