<% if flash[:alert] %>
  <div class='alert'>
   <%= h(flash[:alert]) %>
  </div>
<% end %>
<% if flash[:error] %>
  <div class='login_error'>
   <%= h(flash[:error]) %>
  </div>
<% end %>
<% if flash[:success] %>
  <div class='success'>
   <%= h(flash[:success]) %>
  </div>
<% end %>

<div class="setting_container">
  <div class="login_buttons_contents">
    <h3>Sign in with ...</h3>
    <div class="setting_inner">

      <dl>
        <dt>
        <label>OAuth</label>
        </dt>
        <dd>
          <ul class="login_buttons">
            <li>
              <% if params[:fromUrl] %>
              <a class="zocial twitter" href="<%= url_for '/auth/twitter?origin=' + params[:fromUrl] %>" style="width:140px;">
              <% else %>
              <a class="zocial twitter" href="<%= url_for '/auth/twitter'%>" style="width:140px;">
              <% end %>
                Twitter
              </a>
            </li>
            <li>
              <% if params[:fromUrl] %>
              <a class='zocial facebook' href="<%= url_for '/auth/facebook?origin=' + params[:fromUrl] %>" style="width:140px;">
              <% else %>
              <a class='zocial facebook' href="<%= url_for '/auth/facebook'%>" style="width:140px;">
              <% end %>
                Facebook
              </a>
            </li>
            <li>
              <% if params[:fromUrl] %>
              <a class="zocial github" href="<%= url_for '/auth/github?origin=' + params[:fromUrl] %>" style="width:140px;">
              <% else %>
              <a class="zocial github" href="<%= url_for '/auth/github'%>" style="width:140px;">
              <% end %>
                Github
              </a>
            </li>
          </ul>
        </dd>
      </dl>

      <dl>
        <dt>
        <label>OpenID</label>
        </dt>
        <dd>
          <ul class="login_buttons">
            <li>
              <a class="zocial yahoo" href="<%= url_for :action => 'start', :openid_identifier => 'yahoo.co.jp', :fromUrl => params[:fromUrl] %>" style="width:140px;">
                Yahoo! JAPAN
              </a>
            </li>
            <!--
            <li>
              <a href="<%= url_for :action => 'start', :openid_identifier => 'mixi.jp', :fromUrl => params[:fromUrl] %>">
                <%= image_tag("login_mixi.png") %>
              </a>
              </li>
              -->
            <li>
              <a class="zocial google" href="<%= url_for :action => 'start', :openid_identifier => 'www.google.com/accounts/o8/id', :fromUrl => params[:fromUrl] %>" style="width:140px;">
                Google
              </a>
            </li>
          </ul>
        </dd>
      </dl>

    </div>
  </div>
</div>






