<h1>User Profile(Edit)</h1>
<br>

<% if flash[:error] %>
  <div class='login_error'>
   <%= h(flash[:error]) %>
  </div>
<% end %>
<form method="post" accept-charset="UTF-8" action="<%= url_for :action => 'profile_edit_complete'%>" enctype="multipart/form-data">
<div class="profile_table">
<table border=1>
  <tr>
    <td> user name </td>
    <td> <%= @uname %> </td>
  </tr>
  <tr>
    <td> Mail Address </td>
    <td> <%= @email %> </td>
  </tr>
  <tr>
    <td> Mail Address(New) </td>
    <td>
      <input type="text" name="mail_addr" value=""></input>(Empty for no change)
    </td>
  </tr>
  <tr>
    <td> Mail Address(Confirm) </td>
    <td>
      <input type="text" name="mail_addr_confirm" value=""></input>(Empty for no change)
    </td>
  </tr>
  <tr>
    <td> profile image </td>
    <td>
      <%= image_tag(getLoginUser.prof_image, :size => "64x64") %>
    </td>
  </tr>
  <tr>
    <td> profile image(New) </td>
    <td>
      <input name="profile_image" type="file" />
    </td>
  </tr>
</table>
</div>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="submit" value="send"></input>
</form>
