
<div class="profile_container">
<% if flash[:error] %>
  <div class='login_error'>
   <%= h(flash[:error]) %>
  </div>
<% end %>
  <div class="profile_box">
    <h3>User Profile(Edit)</h3>
    <form method="post" accept-charset="UTF-8" action="<%= url_for :action => 'profile_edit_complete'%>" enctype="multipart/form-data">
    <div class="profile_box_inner">

      <dl>
        <dt>
          <label>UserId</label>
        </dt>
        <dd>
          <%= @uname %>
        </dd>
      </dl>

      <dl>
        <dt>
          <label>Mail Address</label>
        </dt>
        <dd>
          <%= @email %>
        </dd>
      </dl>

      <dl>
        <dt>
          <label>Mail Address(New)</label> (Empty for no change)
        </dt>
        <input type="text" name="mail_addr" value="" style="width:98%;"/>
      </dl>

      <dl>
        <dt>
          <label>Mail Address(Confirm)</label>
        </dt>
        <input type="text" name="mail_addr_confirm" value="" style="width:98%"/>
      </dl>

      <dl>
        <dt>
          <label>Profile Image</label>
        </dt>
        <dd>
          <%= image_tag(getLoginUser.prof_image, :size => "128x128") %>
        </dd>
      </dl>

      <dl>
        <dt>
          <label>Profile Image(New)</label>
        </dt>
        <input name="profile_image" type="file" style="width:98%"/>
      </dl>

      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" class="profile_btn" value="send"></input>
    </div>
    </form>
  </div>
</div>
