<% if flash[:alert] %>
  <div class='alert'>
   <%= h(flash[:alert]) %>
  </div>
<% end %>
<% if flash[:error] %>
  <div class='login_error'>
   <%= h(flash[:error]) %>
  </div>
<% end %>
<% if flash[:success] %>
  <div class='success'>
   <%= h(flash[:success]) %>
  </div>
<% end %>

<form method="post" accept-charset="UTF-8" action="<%= url_for :action => 'signup_complete'%>">

<div class="setting_container">
  <div class="login_buttons_contents">
    <h3>SignUp Page</h3>
    <div class="setting_inner">

      <dl>
        <dt>
        <label>UserID(*)</label>
        </dt>
        <input type="text" name="creating_user_id" value="" style="width:97%;"/>
      </dl>

      <dl>
        <dt>
          <input type="checkbox" name="edit_profile_flg" value="1" />Edit User Profile and/or Mail Address after the SignUp
        </dt>
      </dl>

      <% if params[:fromUrl] %>
        <input type="hidden" name="fromUrl" value="<%= params[:fromUrl] %>">
      <% end %>
      <% if params[:image] %>
        <input type="hidden" name="image" value="<%= params[:image] %>">
      <% end %>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" class="profile_btn" value="SignUp"></input>

    </div>
  </div>
</div>
