<% content_for :head do %>
　<%= stylesheet_link_tag "summary" %>
<% end %>

<script>
$(document).ready(function() {
  loadEditForm()
});
</script>

<form method="POST" action="edit_complete" class="edit_form">
  <div class="main" align="center">
    <div id ="edit_summary">
      <table class="edit_table" id="main" >
        <tr class="table_top">
          <th id="title_top">TITLE</th>
          <th id="summary_top">summary</th>
        </tr>
        <tr>
          <th class="article_title"><a href="<%= @url %>" target="_blank"><%= @title %></a></th>
          <th class="summary_num"><%= link_to @summary_num , {:controller => "summary_lists", :action => "index", :article_id => @article_id} %></th>
        </tr>
        <tr class="table_top">
          <th id="title_top">content</th>
          <th id="title_top">characters</th>
        </tr>
        <tr>
          <th><textarea id="content" name="content"  placeholder="Please edit summary within 300 characters." onKeyUp="countContentCharacters()"><%= @content %></textarea></th>
          <th><span id="count" class="count"><%= @content_num %></span></th>
        </tr>
      </table>
    </div>
    <div id="operate_summary">
      <span id="edit" onclick="clickEditButton()">
        <%= image_tag("icons/glyphicons_030_pencil_gray.png", :size => "16x16") + content_tag(:p, "edit") %>
      </span>
      <span id="clear" onclick="clickClearButton()">
        <%= image_tag("icons/brightness.png", :size => "16x16") + content_tag(:p, "clear") %>
      </span>
      <% if @content %>
        <span id="restore" onclick="clickRestoreButton()">
          <%= image_tag("icons/restore.png", :size => "16x16") + content_tag(:p, "restore") %>
        </span>
        <span id="delete">
          <%= link_to image_tag("icons/glyphicons_016_bin.png", :size => "16x16") + content_tag(:p, "delete") , {:controller => "summary", :action => "delete", :article_id => @article_id}, {:method => "POST", :confirm => "delete summary ?"} %>
        </span>
      <% end %>
      <span id="help"><a href="/help.html" target="_blank"><%= image_tag("icons/glyphicons_194_circle_question_mark.png", :size => "16x16") %></a></span>
    </div>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </div>
</form>
