<% content_for :head do %>
　<%= stylesheet_link_tag "summary" %>
<% end %>

<script>
$(document).ready(function() {
  loadEditForm()
});
</script>

<form method="POST" action="edit_complete" class="edit_form">
  <div class="main" align="center">
    <div id ="edit_summary">
      <table class="edit_table" id="main" >
        <tr class="table_top">
          <th id="title_top"><%= t("summary.title") %></th>
          <th id="summary_top"><%= t("summary.summary_num") %></th>
        </tr>
        <tr>
          <th class="article_title"><a href="<%= @url %>" target="_blank"><%= @title %></a></th>
          <th class="summary_num"><%= link_to @summary_num , {:controller => "summary_lists", :action => "index", :article_id => @article_id} %></th>
        </tr>
        <tr class="table_top">
          <th id="title_top"><%= t("summary.content") %></th>
          <th id="title_top"><%= t("summary.characters") %></th>
        </tr>
        <tr>
          <th><textarea id="content" name="content"  placeholder="<%= t("summary.placeholder") %>" onKeyUp="countContentCharacters()"><%= @content %></textarea></th>
          <th>
            <span id="count" class="count"><%= @content_num %></span>
            <!--
            <span>
              <button class='btn' data-clipboard-target='content' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button'>クリップボード</button>
            </span>
            -->
          </th>
        </tr>
      </table>
    </div>
    <div id="operate_summary">
      <span id="edit" onclick="clickEditButton()">
        <% if @content %>
          <%= image_tag("icons/glyphicons_030_pencil_gray.png", :size => "16x16") + content_tag(:p, t("summary.edit")) %>
        <% else %>
          <%= image_tag("icons/glyphicons_030_pencil_gray.png", :size => "16x16") + content_tag(:p, t("summary.post")) %>
        <% end %>
      </span>
      <span id="clear" onclick="clickClearButton()">
        <%= image_tag("icons/brightness.png", :size => "16x16") + content_tag(:p, t("summary.clear")) %>
      </span>
      <% if @content %>
        <span id="restore" onclick="clickRestoreButton()">
          <%= image_tag("icons/restore.png", :size => "16x16") + content_tag(:p, t("summary.restore")) %>
        </span>
        <span id="delete">
          <%= link_to image_tag("icons/glyphicons_016_bin.png", :size => "16x16") + content_tag(:p, t("summary.delete")) , {:controller => "summary", :action => "delete", :article_id => @article_id}, {:method => "POST", :confirm => "要約を削除して良いですか？"} %>
        </span>
      <% end %>
    </div>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </div>
</form>
