<script>

$(document).ready(function (){
  var thisValueLength = $('#content').val().length;
  $('.count').html(thisValueLength);
});

$(document).ready(function() {
    $("#edit_form").validate({});
});

$(function(){
    $('#content').bind('keyup',function(){
        var thisValueLength = $(this).val().length;
        $('.count').html(thisValueLength);
    });
});

$(function(){
    $('#clear_summary').bind('click',function(){
      if(confirm("内容をクリアして宜しいですか？")){
        $('#content').val("");
        $('.count').html(0);
      }
    });
});

</script>

<form method="POST" action="edit_confirm" id="edit_form">
  <div class="center">
    <p> [title]: <%= @title %> </p>
    <p>[url]<a href="<%= @url %>" target="_blank"> <%= @url %></a></p>
    <textarea id="content" name="content" cols=60 rows=10 maxlength="300" class="required"><%= @content %></textarea>
    <span class="count">0</span>
  </div>
  <div class="center">
    <input type="submit" id="edit_summary_submit" class="button button-flat:hover" value="要約"></input>  
    <input type="button" id="clear_summary" class="button button-flat:hover" value="クリア"></input>  
  </div>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>