<style>
	.highlight { font-size:20px; color:red }
</style>
<script>

$(function(){
	/*$("#msg").addClass("highlight").fadeOut("slow");*/
	$("#msg").addClass("highlight");
});

</script>
<div class="edit_box">
  <div id="msg"><%= @msg %></div>
  <p>[title] <%= @title %></p>
  <p>[url] <%= @url %></p>
  <p>[要約] <%= @summary %></p>
  <p><%= link_to "URL追加へ戻る", :controller => "webpage", :action => "add" %></p>
  <p><%=link_to "要約編集画面へ戻る", :controller => "summary", :action => "edit", article_id:@article_id %></p>
</div>
