<style>
	.highlight { font-size:20px; color:red }
</style>
<script>

$(function(){
	/*$("#msg").addClass("highlight").fadeOut("slow");*/
	$("#msg").addClass("highlight").fadeOut("slow");
});

</script>
<div class="center">
  <div id="msg"><%= @msg %></div>
  <p>[title] <%= @title %></p>
  <p>[url]<a href="<%= @url %>" target="_blank"> <%= @url %></a></p>
  <p>[要約] <%= simple_format(@summary_content) %></p>
  <p><%= link_to "要約編集画面へ戻る", :controller => "summary", :action => "edit", article_id:@article_id %></p>
</div>
