<% summary_table.each_with_index do |table_data, i| %>
<tr>
  <th>
    <div>
      <div class="article-checkbox">
      <% if @is_login_user %>
        <%= check_box 'check_article', i, {:id => "summary-checkbox", :onclick => click_checkbox}, table_data[:article].id, false %>
      <% else %>
        <%= check_box 'check_article', i, {:id => "article-check", :onclick => "clickCheckBoxForClip('#{@user.name}')"}, table_data[:article].id, false %>
      <% end %>
      </div>
      <div class="title">
        <div class="title-prop">
          <a href="<%= table_data[:article].url %>" target="_blank">
          <%= table_data[:article].title %>
          </a>
        </div>
        <p>
          <%= table_data[:registered_num] %> <%= get_reader_string(table_data[:registered_num])%>, 
          <%= table_data[:like_num] %>
          <%= get_like_string(table_data[:like_num]) %>
          , <%= t('summary.last_updated') %> 
          <%= table_data[:last_updated].strftime("%Y/%m/%d") %> | <%= table_data[:article].summaries_count %>
          <%= get_summary_string(table_data[:article].summaries_count) %>
        </p>
        <div class="article-tags">
          <ul class="tags">
            <% table_data[:tags].each do |tag| %>
            <li><%= link_to tag, {:action => "tag", :tag => tag} %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div>
      <% if @is_login_user %>
      <div class="summarize-btn">
        <%= link_to image_tag("icons/glyphicons_030_pencil_gray.png", :size => "12x12") +
            content_tag(:p, t('summary.edit')),
            {:controller => "summary", :action => "edit", :article_id => table_data[:article].id},
            {:class => "btn btn-default btn-xs"} %>
      </div>
      <div class="edit-tag-btn">
        <%= link_to image_tag("icons/glyphicons_065_tag_gray.png", :size => "12x12") +
            content_tag(:p, t('tag.edit')),
            {:controller => "webpage", :action => "add_confirm", :url => table_data[:article].url},
            {:class => "btn btn-default btn-xs", :method => :post} %>
      </div>
      <% else %>
      <% if @is_login_user != true && table_data[:is_registered] %>
        <span>
        <% if table_data[:is_already_read] %>
        << already read
        <% else %>
        << also register
        <% end %>
        </span>
      <% end %>
      <% end %>
      </div>
    </div>
  </th>
  <th class="num-column">
  <%= link_to (url_for :controller => 'summary_lists', :action => 'index', :article_id => table_data[:article].id) do %>
    <p><%= table_data[:article].summaries_count %></p>
    <span>
      <p><%= get_summary_string(table_data[:article].summaries_count) %></p>
    </span>
 <% end %>
 </th>
</tr>
<% end %>
