<div class="container">
  <div class="row">
    <div class="span3">
      <div id="user_profile">
        <%= image_tag(@user.prof_image, :size => "100x100") %>
        <div id="prof_user_name">
          <p><%= @user.name %></p>
          <% if @is_login_user %>
          <div></div>
          <% else %>
          <% unless @is_already_following %>
          <div id="follow_toggle">
            <%= link_to "follow", 
            {:action => "follow", :follow_user_id => @user.id,:remote => true}, 
            {:id => "follow_button", :class => "button button-rounded button-flat-primary"} %>
          </div>
          <% else %>
          <div id="follow_toggle">
            <%= link_to "unfollow", 
            {:action => "unfollow", :unfollow_user_id => @user.id, :remote => true}, 
            {:id => "unfollow_button", :class => "button button-rounded button-flat-primary"} %>
          </div>
          <% end %>
          <% end %>
          <hr/>
          <p>profile</p>
        </div>
        <span>
          <%= @user.comment %>
        </span>
      </div>
      <hr/>
      <div id="user_info_tab">
        <ul>
          <li class="prof_tab_elem none active">
            <a href="#prof_tab_following" data-toggle="tab">
              following<br>
              <%= @favorite_users.size %>
            </a>
            <div id="info_tab_marker"></div>
          </li>
          <li class="divider-vertical"></li>
          <li class="prof_tab_elem none">
            <a href="#prof_tab_followers" data-toggle="tab" id="followers_num">
              followers<br>
              <%= @followers.size %>
            </a>
            <div id="info_tab_marker"></div>
          </li>
          <li class="divider-vertical"></li>
          <li class="prof_tab_elem none">
            <a href="#prof_tab_summary" data-toggle="tab">
              summary<br>
              <!-- TODO : 動的に取る、そもそもsummaryでよいかも考える -->
              10
            </a>
            <div id="info_tab_marker"></div>
          </li>
        </ul>
      </div>
      <hr/>
      <div id="user_info">
        <div id="prof_tab_following" class="active">
          <% if @favorite_users %>
          <% @favorite_users.each do |favorite_user| %>
          <%= link_to image_tag(favorite_user.prof_image, :size => "32x32", :title => favorite_user.name),
          {:action => "index", :name => favorite_user.name} %>
          <% end %>
          <% end %>
        </div>
        <div id="prof_tab_followers">
          <% if @followers %>
          <% @followers.each do |follower| %>
          <%= link_to image_tag(follower.prof_image, :size => "32x32", :title => follower.name),
          {:action => "index", :name => follower.name},
          {:id => "follower_id_"+ follower.id.to_s } %>
          <% end %>
          <% end %>
        </div>
        <div id="prof_tab_summary">
        </div>
      </div>
    </div>
    <div class="span9">
      <div class="div_tag">
        <ul class="tab clear">
          <li class="none active my_overflow"><a href=".main" data-toggle="tab">Main</a></li>
          <li class="none my_overflow"><a href=".summary" data-toggle="tab">Summary</a></li>
          <li class="none my_overflow"><a href=".favorite" data-toggle="tab">Favorite</a></li>
          <li class="none my_overflow"><a href=".read" data-toggle="tab">Read</a></li>
        </ul>
      </div>
      <div id="article_controller">
        <% if @is_login_user %>
        <div class="none active main">
          <div id="m_mark_as_read_btn">
            <%= image_tag("icons/glyphicons_152_check_gray.png", :size => "16x16", :class => "inner") + content_tag(:p, "mark as read", :class => "inner") %>
          </div>
          <div id="m_edit_summary_btn">
            <%= image_tag("icons/glyphicons_030_pencil_gray.png", :size => "16x16") + content_tag(:p, "edit summary") %>
          </div>
          <div id="m_mark_as_favorite_btn">
            <%= image_tag("icons/glyphicons_049_star_gray.png", :size => "16x16") + content_tag(:p, "mark as favorite") %>
          </div>
          <div id="m_delete_btn">
            <%= image_tag("icons/glyphicons_016_bin_gray.png", :size => "16x16") + content_tag(:p, "delete") %>
          </div>
          <div class="page_ejection">
            <ul>
              <li class="page_prev">
                <% if @mpage.to_i > 1 %>
                <a href="index?mpage=<%= @mpage.to_i - 1 %>">
                  <img height="16" src="/assets/icons/glyphicons_224_chevron-left_gray.png" width="10">
                </a>
                <% else %>
                <div>
                  <img height="16" src="/assets/icons/glyphicons_224_chevron-left_gray.png" width="10">
                </div>
                <% end %>
              </li>
              <li class="vertical_boder"></li>
              <li class="page_next">
                <% unless @main_articles_table.size < 10 %>
                <a href="index?mpage=<%= @mpage.to_i + 1 %>">
                  <img height="16" src="/assets/icons/glyphicons_223_chevron-right_gray.png" width="10">
                </a>
                <% else %>
                <div>
                  <img height="16" src="/assets/icons/glyphicons_223_chevron-right_gray.png" width="10">
                </div>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
        <div class="none summary">
          <div id="s_edit_summary_btn">
            <%= image_tag("icons/glyphicons_030_pencil_gray.png", :size => "16x16") + content_tag(:p, "edit summary") %>
          </div>
          <div id="s_delete_btn">
            <%= image_tag("icons/glyphicons_016_bin_gray.png", :size => "16x16") + content_tag(:p, "delete") %>
          </div>
        </div>
        <div class="none favorite">
          <div id="f_edit_summary_btn">
            <%= image_tag("icons/glyphicons_030_pencil_gray.png", :size => "16x16") + content_tag(:p, "edit summary") %>
          </div>
          <div id="f_mark_off_favorite_btn">
            <%= image_tag("icons/glyphicons_049_star_gray.png", :size => "16x16") + content_tag(:p, "mark off favorite") %>
          </div>
          <div id="f_delete_btn">
            <%= image_tag("icons/glyphicons_016_bin_gray.png", :size => "16x16") + content_tag(:p, "delete") %>
          </div>
          <div class="page_ejection">
            <ul>
              <li class="page_prev">
                <% if @fpage.to_i > 1 %>
                <a href="index?fpage=<%= @fpage.to_i - 1 %>">
                  <img height="16" src="/assets/icons/glyphicons_224_chevron-left_gray.png" width="10">
                </a>
                <% else %>
                <div>
                  <img height="16" src="/assets/icons/glyphicons_224_chevron-left_gray.png" width="10">
                </div>
                <% end %>
              </li>
              <li class="vertical_boder"></li>
              <li class="page_next">
                <% unless @favorite_articles_table.size < 10 %>
                <a href="index?fpage=<%= @fpage.to_i + 1 %>">
                  <img height="16" src="/assets/icons/glyphicons_223_chevron-right_gray.png" width="10">
                </a>
                <% else %>
                <div>
                  <img height="16" src="/assets/icons/glyphicons_223_chevron-right_gray.png" width="10">
                </div>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
        <div class="none read">
          <div id="r_mark_as_unread_btn">
            <%= image_tag("icons/glyphicons_152_check_gray.png", :size => "16x16", :class => "inner") + content_tag(:p, "mark as unread", :class => "inner") %>
          </div>
          <div id="r_edit_summary_btn">
            <%= image_tag("icons/glyphicons_030_pencil_gray.png", :size => "16x16") + content_tag(:p, "edit summary") %>
          </div>
          <div id="r_mark_as_favorite_btn">
            <%= image_tag("icons/glyphicons_049_star_gray.png", :size => "16x16") + content_tag(:p, "mark as favorite") %>
          </div>
          <div id="r_delete_btn">
            <%= image_tag("icons/glyphicons_016_bin_gray.png", :size => "16x16") + content_tag(:p, "delete") %>
          </div>
          <div class="page_ejection">
            <ul>
              <li class="page_prev">
                <% if @rpage.to_i > 1 %>
                <a href="index?rpage=<%= @rpage.to_i - 1 %>">
                  <img height="16" src="/assets/icons/glyphicons_224_chevron-left_gray.png" width="10">
                </a>
                <% else %>
                <div>
                  <img height="16" src="/assets/icons/glyphicons_224_chevron-left_gray.png" width="10">
                </div>
                <% end %>
              </li>
              <li class="vertical_boder"></li>
              <li class="page_next">
                <% unless @favorite_articles_table.size < 10 %>
                <a href="index?rpage=<%= @rpage.to_i + 1 %>">
                  <img height="16" src="/assets/icons/glyphicons_223_chevron-right_gray.png" width="10">
                </a>
                <% else %>
                <div>
                  <img height="16" src="/assets/icons/glyphicons_223_chevron-right_gray.png" width="10">
                </div>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
        <% else  # is_login_user %>
        <% if @user.public_flg %>
        <div class="none main active">
          <div id="clip_btn">
            <%= image_tag("icons/glyphicons_062_paperclip_gray.png", :size => "16x16") + content_tag(:p, "clip") %>
          </div>
          <div class="page_ejection">
            <ul>
              <li class="page_prev">
                <% if @mpage.to_i > 1 %>
                <a href="index?name=<%= @user.name %>&mpage=<%= @mpage.to_i - 1 %>">
                  <img height="16" src="/assets/icons/glyphicons_224_chevron-left_gray.png" width="10">
                </a>
                <% else %>
                <div>
                  <img height="16" src="/assets/icons/glyphicons_224_chevron-left_gray.png" width="10">
                </div>
                <% end %>
              </li>
              <li class="vertical_boder"></li>
              <li class="page_next">
                <% unless @main_articles_table.size < 10 %>
                <a href="index?name=<%= @user.name %>&mpage=<%= @mpage.to_i + 1 %>">
                  <img height="16" src="/assets/icons/glyphicons_223_chevron-right_gray.png" width="10">
                </a>
                <% else %>
                <div>
                  <img height="16" src="/assets/icons/glyphicons_223_chevron-right_gray.png" width="10">
                </div>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
        <div class="none summary">
          <div id="clip_btn">
            <%= image_tag("icons/glyphicons_062_paperclip_gray.png", :size => "16x16") + content_tag(:p, "clip") %>
          </div>
        </div>
        <div class="none favorite">
          <div id="clip_btn">
            <%= image_tag("icons/glyphicons_062_paperclip_gray.png", :size => "16x16") + content_tag(:p, "clip") %>
          </div>
          <div class="page_ejection">
            <ul>
              <li class="page_prev">
                <% if @fpage.to_i > 1 %>
                <a href="index?name=<%= @user.name %>&fpage=<%= @fpage.to_i - 1 %>">
                  <img height="16" src="/assets/icons/glyphicons_224_chevron-left_gray.png" width="10">
                </a>
                <% else %>
                <div>
                  <img height="16" src="/assets/icons/glyphicons_224_chevron-left_gray.png" width="10">
                </div>
                <% end %>
              </li>
              <li class="vertical_boder"></li>
              <li class="page_next">
                <% unless @favorite_articles_table.size < 10 %>
                <a href="index?name=<%= @user.name %>&fpage=<%= @fpage.to_i + 1 %>">
                  <img height="16" src="/assets/icons/glyphicons_223_chevron-right_gray.png" width="10">
                </a>
                <% else %>
                <div>
                  <img height="16" src="/assets/icons/glyphicons_223_chevron-right_gray.png" width="10">
                </div>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
        <div class="none read">
          <div id="clip_btn">
            <%= image_tag("icons/glyphicons_062_paperclip_gray.png", :size => "16x16") + content_tag(:p, "clip") %>
          </div>
          <div class="page_ejection">
            <ul>
              <li class="page_prev">
                <% if @rpage.to_i > 1 %>
                <a href="index?name=<%= @user.name %>&rpage=<%= @rpage.to_i - 1 %>">
                  <img height="16" src="/assets/icons/glyphicons_224_chevron-left_gray.png" width="10">
                </a>
                <% else %>
                <div>
                  <img height="16" src="/assets/icons/glyphicons_224_chevron-left_gray.png" width="10">
                </div>
                <% end %>
              </li>
              <li class="vertical_boder"></li>
              <li class="page_next">
                <% unless @favorite_articles_table.size < 10 %>
                <a href="index?name=<%= @user.name %>&rpage=<%= @rpage.to_i + 1 %>">
                  <img height="16" src="/assets/icons/glyphicons_223_chevron-right_gray.png" width="10">
                </a>
                <% else %>
                <div>
                  <img height="16" src="/assets/icons/glyphicons_223_chevron-right_gray.png" width="10">
                </div>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
        <% end # @user.public_flg %>
        <% end # is_login_user %>
      </div>
      <% if @is_login_user || @user.public_flg %>
      <div class="article_table">
        <table class="summary_table active main">
          <tr class="table_top">
            <th id="article_title_top">
              <div class="article_checkbox">
                <%= check_box 'check_all', 0, 
                {:id => "main_check_all", :onclick => "checkAll('main_check_all', 'main_check_form')"}, 0, false %>
              </div>
              TITLE
            </th>
            <th id="summary_number_top">summary</th>
          </tr>
          <% if @main_articles_table %>
          <form id="main_check_form" name="main_checkbox">
            <% @main_articles_table.each_with_index do |table_data, i| %>
            <tr>
              <th>
                <div>
                  <div class="article_checkbox">
                    <% if @is_login_user %>
                    <%= check_box 'check_article', i, 
                    {:id => "article_check", :onclick => "clickMainCheckBox()"}, table_data[:article].id, false %>
                    <% else %>
                    <%= check_box 'check_article', i,
                    {:id => "article_check", :onclick => "clickCheckBoxForClip('#{@user.name}')"}, table_data[:article].id, false %>
                    <% end %>
                  </div>
                  <div class="title">
                    <a href="<%= table_data[:article].url %>" target="_blank">
                      <%= table_data[:article].title %>
                      <% if @is_login_user != true && table_data[:is_registered] %>
                      <span>
                        <% if table_data[:is_already_read] %>
                        << you already read
                        <% else %>
                        << you also register
                        <% end %>
                      </span>
                      <% end %>
                      <p>
                        <%= table_data[:registered_num] %> registered, created at <%= table_data[:registered_date].strftime("%Y/%m/%d") %> | <%= table_data[:summary_num] %>
                        <% unless table_data[:summary_num] > 1 %>
                        summary
                        <% else %>
                        summaries
                        <% end %>
                      <br>
                        <%= table_data[:article].contents_preview %> ...
                      <p>
                    </p>
                    </a>
                  </div>
                </div>
              </th>
              <th class="num_column">
                <%= link_to (url_for :controller => 'summary_lists', :action => 'index', :articleId => table_data[:article].id) do %>
                <p><%= table_data[:summary_num] %></p>
                <% unless table_data[:summary_num] > 1 %>
                <span>
                  <p>summary</p>
                </span>
                <% else %>
                <span>
                  <p>summaries</p>
                </span>
                <% end %>
                <% end %>
              </th>
            </tr>
            <% end %>
          </form>
          <% end %>
        </table>
        <table class="summary_table summary">
          <tr class="table_top">
            <th id="article_title_top">
              <div class="article_checkbox">
                <%= check_box 'check_all', 0, 
                {:id => "summary_check_all", :onclick => "checkAll('summary_check_all', 'summary_check_form')"}, 0, false %>
              </div>
              TITLE
            </th>
            <th id="summary_number_top">summary</th>
          </tr>
          <% if @summaries_table %>
          <form id="summary_check_form" name="summary_checkbox">
            <% @summaries_table.each_with_index do |table_data, i| %>
            <tr>
              <th>
                <div>
                  <div class="article_checkbox">
                    <% if @is_login_user %>
                    <%= check_box 'check_article', i, 
                    {:id => "summary_checkbox", :onclick => "clickSummaryCheckBox()"}, table_data[:article].id, false %>
                    <% else %>
                    <%= check_box 'check_article', i,
                    {:id => "article_check", :onclick => "clickCheckBoxForClip('#{@user.name}')"}, table_data[:article].id, false %>
                    <% end %>
                  </div>
                  <div class="title">
                    <a href="<%= table_data[:article].url %>" target="_blank">
                      <%= table_data[:article].title %>
                      <% if @is_login_user != true && table_data[:is_registered] %>
                      <span>
                        <% if table_data[:is_already_read] %>
                        << you already read
                        <% else %>
                        << you also register
                        <% end %>
                      </span>
                      <% end %>
                      <p>
                        <%= table_data[:registered_num] %> registered, 
                        <%= table_data[:like_num] %>
                        <% unless table_data[:like_num] > 1 %>
                        like
                        <% else %>
                        likes
                        <% end %>
                        , last updated at <%= table_data[:last_updated].strftime("%Y/%m/%d") %> | <%= table_data[:summary_num] %>
                        <% unless table_data[:summary_num] > 1 %>
                        summary
                        <% else %>
                        summaries
                        <% end %>
                      <br>
                        <%= table_data[:article].contents_preview %> ...
                      </p>
                    </a>
                  </div>
                </div>
              </th>
              <th class="num_column">
                <%= link_to (url_for :controller => 'summary_lists', :action => 'index', :articleId => table_data[:article].id) do %>
                <p><%= table_data[:summary_num] %></p>
                <% unless table_data[:summary_num] > 1 %>
                <span>
                  <p>summary</p>
                </span>
                <% else %>
                <span>
                  <p>summaries</p>
                </span>
                <% end %>
                <% end %>
              </th>
            </tr>
            <% end %>
          </form>
          <% end %>
        </table>
        <table class="favorite_table favorite">
          <tr class="table_top">
            <th id="article_title_top">
              <div class="article_checkbox">
                <%= check_box 'check_all', 0, 
                {:id => "favorite_check_all", :onclick => "checkAll('favorite_check_all', 'favorite_check_form')"}, 0, false %>
              </div>
              TITLE</th>
            <th id="summary_number_top">summary</th>
          </tr>
          <% if @favorite_articles_table %>
          <form id="favorite_check_form" name="favorite_checkbox">
            <% @favorite_articles_table.each_with_index do |table_data, i| %>
            <tr>
              <th>
                <div>
                  <div class="article_checkbox">
                    <% if @is_login_user %>
                    <%= check_box 'check_article', i,
                    {:id => "favorite_checkbox", :onclick => "clickFavoriteCheckBox()"}, table_data[:article].id, false %>
                    <% else %>
                    <%= check_box 'check_article', i,
                    {:id => "article_check", :onclick => "clickCheckBoxForClip('#{@user.name}')"}, table_data[:article].id, false %>
                    <% end %>
                  </div>
                  <div class="title">
                    <a href="<%= table_data[:article].url %>" target="_blank">
                      <%= table_data[:article].title %>
                      <% if @is_login_user != true && table_data[:is_registered] %>
                      <span>
                        <% if table_data[:is_already_read] %>
                        << you already read
                        <% else %>
                        << you also register
                        <% end %>
                      </span>
                      <% end %>
                      <p>
                      <%= table_data[:registered_num] %> registered, created at <%= table_data[:registered_date].strftime("%Y/%m/%d") %> | <%= table_data[:summary_num] %>
                      <% unless table_data[:summary_num] > 1 %>
                      summary
                      <% else %>
                      summaries
                      <% end %>
                      <br>
                        <%= table_data[:article].contents_preview %> ...
                      </p>
                    </a>
                  </div>
                </div>
              </th>
              <th class="num_column">
                <%= link_to (url_for :controller => 'summary_lists', :action => 'index', :articleId => table_data[:article].id) do %>
                <p><%= table_data[:summary_num] %></p>
                <% unless table_data[:summary_num] > 1 %>
                <span>
                  <p>summary</p>
                </span>
                <% else %>
                <span>
                  <p>summaries</p>
                </span>
                <% end %>
                <% end %>
              </th>
            </tr>
            <% end %>
          </form>
          <% end %>
        </table>
        <table class="read_table read">
          <tr class="table_top">
            <th id="article_title_top">
              <div class="article_checkbox">
                <%= check_box 'check_all', 0, 
                {:id => "read_check_all", :onclick => "checkAll('read_check_all', 'read_check_form')"}, 0, false %>
              </div>
              TITLE
            </th>
            <th id="summary_number_top">summary</th>
          </tr>
          <% if @read_articles_table %>
          <form id="read_check_form" name="read_checkbox">
            <% @read_articles_table.each_with_index do |table_data, i| %>
            <tr>
              <th>
                <div>
                  <div class="article_checkbox">
                    <% if @is_login_user %>
                    <%= check_box 'check_article', i, 
                    {:id => "read_checkbox", :onclick => "clickReadCheckBox()"}, table_data[:article].id, false %>
                    <% else %>
                    <%= check_box 'check_article', i,
                    {:id => "article_check", :onclick => "clickCheckBoxForClip('#{@user.name}')"}, table_data[:article].id, false %>
                    <% end %>
                  </div>
                  <div class="title">
                    <a href="<%= table_data[:article].url %>" target="_blank">
                      <%= table_data[:article].title %>
                      <% if @is_login_user != true && table_data[:is_registered] %>
                      <span>
                        <% if table_data[:is_already_read] %>
                        << you already read
                        <% else %>
                        << you also register
                        <% end %>
                      </span>
                      <% end %>
                      <p>
                      <%= table_data[:registered_num] %> registered, created at <%= table_data[:registered_date].strftime("%Y/%m/%d") %> | <%= table_data[:summary_num] %>
                      <% unless table_data[:summary_num] > 1 %>
                      summary
                      <% else %>
                      summaries
                      <% end %>
                      <br>
                        <%= table_data[:article].contents_preview %> ...
                      </p>
                    </a>
                  </div>
              </th>
              <th class="num_column">
                <%= link_to (url_for :controller => 'summary_lists', :action => 'index', :articleId => table_data[:article].id) do %>
                <p><%= table_data[:summary_num] %></p>
                <% unless table_data[:summary_num] > 1 %>
                <span>
                  <p>summary</p>
                </span>
                <% else %>
                <span>
                  <p>summaries</p>
                </span>
                <% end %>
                <% end %>
              </th>
            </tr>
            <% end %>
          </form>
          <% end %>

        </table>
      </div>
      <% else # @is_login_user || @user.public_flg %>
      <p id="private_message">@<%= @user.name%>'s articles are protected. </p>
      <% end # @is_login_user || @user.public_flg %>

    </div>
  </div>
</div>