<%= content_for :head do %>
  <%= stylesheet_link_tag "mypage" %>
<% end %>

<div class="container">
  <div class="myrow">
    <div class="profile">
      <div id="user-profile">
        <%= image_tag(@user.prof_image, :size => "100x100") %>
        <div id="prof-user-name">
          <p><%= @user.name %></p>
          <% if @is_login_user %>
          <div></div>
          <% else %>
            <% unless @is_already_following %>
            <div id="follow-toggle">
              <%= button_to "follow", 
              {:action => "follow", :follow_user_id => @user.id}, 
              {:id => "follow-button", :class => "btn btn-info btn-xs", :remote => true} %>
            </div>
            <% else %>
            <div id="follow-toggle">
              <%= button_to "unfollow", 
              {:action => "unfollow", :unfollow_user_id => @user.id}, 
              {:id => "unfollow-button", :class => "btn btn-danger btn-xs", :remote => true} %>
            </div>
            <% end %>
          <% end %>
          <hr/>
          <p>profile</p>
        </div>
        <span>
          <%= @user.comment %>
        </span>
      </div>
      <hr/>
      <div id="user-info-tab">
        <ul>
          <li class="prof-tab-elem none active">
            <a href="#prof-tab-following" data-toggle="tab">
              following<br>
              <%= @favorite_users.size %>
            </a>
            <div id="info-tab-marker"></div>
          </li>
          <li class="divider-vertical"></li>
          <li class="prof-tab-elem none">
            <a href="#prof-tab-followers" data-toggle="tab" id="followers-num">
              followers<br>
              <%= @followers.size %>
            </a>
            <div id="info-tab-marker"></div>
          </li>
          <li class="divider-vertical"></li>
          <li class="prof-tab-elem none">
            <a href="#prof-tab-summary" data-toggle="tab">
              summary<br>
              <% # 動的に取る、そもそもsummaryでよいかも考える %>
              10
            </a>
            <div id="info-tab-marker"></div>
          </li>
        </ul>
      </div>
      <hr/>
      <div id="user-info">
        <div id="prof-tab-following" class="active">
          <% if @favorite_users %>
            <% @favorite_users.each do |favorite_user| %>
            <%= link_to image_tag(favorite_user.prof_image, :size => "32x32", :title => favorite_user.name),
            {:action => "index", :name => favorite_user.name} %>
            <% end %>
          <% end %>
        </div>
        <div id="prof-tab-followers">
          <% if @followers %>
            <% @followers.each do |follower| %>
            <%= link_to image_tag(follower.prof_image, :size => "32x32", :title => follower.name),
            {:action => "index", :name => follower.name},
            {:id => "follower-id-"+ follower.id.to_s } %>
            <% end %>
          <% end %>
        </div>
        <div id="prof-tab-summary">
        </div>
      </div>
    </div>
    <div class="span9">
      <div class="div-tag">
        <ul class="tab clear">
          <%= render :partial => "tab", :locals => {:title => "main"} %>
          <%= render :partial => "tab", :locals => {:title => "summary"} %>
          <%= render :partial => "tab", :locals => {:title => "favorite"} %>
          <%= render :partial => "tab", :locals => {:title => "read"} %>
        </ul>
      </div>
      <div id="article-controller">
        <% if @is_login_user %>
        <% if @current_tab == "main" %>
        <div class="none active main">
        <% else %>
        <div class="none main">
        <% end %>
          <div id="mark-as-read-btn">
            <%= image_tag("icons/glyphicons_152_check_gray.png", :size => "16x16", :class => "inner") + content_tag(:p, "mark as read", :class => "inner") %>
          </div>
          <div id="edit-summary-btn">
            <%= image_tag("icons/glyphicons_030_pencil_gray.png", :size => "16x16") + content_tag(:p, "edit summary") %>
          </div>
          <div id="mark-as-favorite-btn">
            <%= image_tag("icons/glyphicons_049_star_gray.png", :size => "16x16") + content_tag(:p, "mark as favorite") %>
          </div>
          <div id="delete-btn">
            <%= image_tag("icons/glyphicons_016_bin_gray.png", :size => "16x16") + content_tag(:p, "delete") %>
          </div>
          <div class="page-ejection">
            <%= render_page_ejection(@mpage, @main_articles_table, :mpage, @total_main_articles_num) %>
          </div>
          <p class="page_info">
            <%= raw get_page_position(@mpage, @main_articles_table, @total_main_articles_num) %>
          </p>
        </div>
        <% if @current_tab == "summary" %>
        <div class="none active summary">
        <% else %>
        <div class="none summary">
        <% end %>
          <div id="edit-summary-btn">
            <%= image_tag("icons/glyphicons_030_pencil_gray.png", :size => "16x16") + content_tag(:p, "edit summary") %>
          </div>
          <div id="delete-summary-btn">
            <%= image_tag("icons/glyphicons_016_bin_gray.png", :size => "16x16") + content_tag(:p, "delete") %>
          </div>
          <div class="page-ejection">
            <%= render_page_ejection(@spage, @summaries_table, :spage, @total_summaries_num) %>
          </div>
          <p class="page_info">
            <%= raw get_page_position(@spage, @summaries_table, @total_summaries_num) %>
          </p>
        </div>
        <% if @current_tab == "favorite" %>
        <div class="none active favorite">
        <% else %>
        <div class="none favorite">
        <% end %>
          <div id="edit-summary-btn">
            <%= image_tag("icons/glyphicons_030_pencil_gray.png", :size => "16x16") + content_tag(:p, "edit summary") %>
          </div>
          <div id="mark-off-favorite-btn">
            <%= image_tag("icons/glyphicons_049_star_gray.png", :size => "16x16") + content_tag(:p, "mark off favorite") %>
          </div>
          <div id="delete-btn">
            <%= image_tag("icons/glyphicons_016_bin_gray.png", :size => "16x16") + content_tag(:p, "delete") %>
          </div>
          <div class="page-ejection">
            <%= render_page_ejection(@fpage, @favorite_articles_table, :fpage, @total_favorite_articles_num) %>
          </div>
          <p class="page_info">
            <%= raw get_page_position(@fpage, @favorite_articles_table, @total_favorite_articles_num) %>
          </p>
        </div>
        <% if @current_tab == "read" %>
        <div class="none active read">
        <% else %>
        <div class="none read">
        <% end %>
          <div id="mark-as-unread-btn">
            <%= image_tag("icons/glyphicons_152_check_gray.png", :size => "16x16", :class => "inner") + content_tag(:p, "mark as unread", :class => "inner") %>
          </div>
          <div id="edit-summary-btn">
            <%= image_tag("icons/glyphicons_030_pencil_gray.png", :size => "16x16") + content_tag(:p, "edit summary") %>
          </div>
          <div id="mark-as-favorite-btn">
            <%= image_tag("icons/glyphicons_049_star_gray.png", :size => "16x16") + content_tag(:p, "mark as favorite") %>
          </div>
          <div id="delete-btn">
            <%= image_tag("icons/glyphicons_016_bin_gray.png", :size => "16x16") + content_tag(:p, "delete") %>
          </div>
          <div class="page-ejection">
            <%= render_page_ejection(@rpage, @read_articles_table, :rpage, @total_read_articles_num) %>
          </div>
          <p class="page_info">
            <%= raw get_page_position(@rpage, @read_articles_table, @total_read_articles_num) %>
          </p>
        </div>
        <% else  # is_login_user %>
        <% if @user.public_flg %>
        <% if @current_tab == "main" %>
        <div class="none main active">
        <% else %>
        <div class="none main">
        <% end %>
          <div id="clip-btn">
            <%= image_tag("icons/glyphicons_062_paperclip_gray.png", :size => "16x16") + content_tag(:p, "clip") %>
          </div>
          <div class="page-ejection">
            <%= render_page_ejection(@mpage, @main_articles_table, :mpage, @total_main_articles_num) %>
          </div>
          <p class="page_info">
            <%= raw get_page_position(@mpage, @main_articles_table, @total_main_articles_num) %>
          </p>
        </div>
        <% if @current_tab == "summary" %>
        <div class="none summary active">
        <% else%>
        <div class="none summary">
        <% end %>
          <div id="clip-btn">
            <%= image_tag("icons/glyphicons_062_paperclip_gray.png", :size => "16x16") + content_tag(:p, "clip") %>
          </div>
          <div class="page-ejection">
            <%= render_page_ejection(@spage, @summaries_table, :spage, @total_summaries_num) %>
          </div>
          <p class="page_info">
            <%= raw get_page_position(@spage, @summaries_table, @total_summaries_num) %>
          </p>
        </div>
        <% if @current_tab == "favorite" %>
        <div class="none favorite active">
        <% else %>
        <div class="none favorite">
        <% end %>
          <div id="clip-btn">
            <%= image_tag("icons/glyphicons_062_paperclip_gray.png", :size => "16x16") + content_tag(:p, "clip") %>
          </div>
          <div class="page-ejection">
            <%= render_page_ejection(@fpage, @favorite_articles_table, :fpage, @total_favorite_articles_num) %>
          </div>
          <p class="page_info">
            <%= raw get_page_position(@fpage, @favorite_articles_table, @total_favorite_articles_num) %>
          </p>
        </div>
        <% if @current_tab == "read" %>
        <div class="none read active">
        <% else %>
        <div class="none read">
        <% end %>
          <div id="clip-btn">
            <%= image_tag("icons/glyphicons_062_paperclip_gray.png", :size => "16x16") + content_tag(:p, "clip") %>
          </div>
          <div class="page-ejection">
            <%= render_page_ejection(@rpage, @read_articles_table, :rpage, @total_read_articles_num) %>
          </div>
          <p class="page_info">
            <%= raw get_page_position(@rpage, @read_articles_table, @total_read_articles_num) %>
          </p>
        </div>
        <% end # @user.public_flg %>
        <% end # is_login_user %>
      </div>
      <% if @is_login_user || @user.public_flg %>
      <div class="article-table">
        <% if @current_tab == "main" %>
        <form id="main-check-form" name="main_checkbox" class="main active">
        <% else %>
        <form id="main-check-form" name="main_checkbox" class="main">
        <% end %>
          <table class="main-table">
            <tr class="table-top">
              <th id="article-title-top">
                <div class="article-checkbox">
                  <%= check_box 'check_all', 0, 
                  {:id => "main-check-all", :onclick => "checkAll('main-check-all', 'main-check-form')"}, 0, false %>
                </div>
                TITLE
              </th>
              <th id="summary-number-top">summary</th>
            </tr>
            <%= render_article_table('main', @main_articles_table) %>
          </table>
        </form>
        <% if @current_tab == "summary" %>
        <form id="summary-check-form" name="summary_checkbox" class="summary active">
        <% else %>
        <form id="summary-check-form" name="summary_checkbox" class="summary">
        <% end %>
          <table class="summary-table summary">
            <tr class="table-top">
              <th id="article-title-top">
                <div class="article-checkbox">
                  <%= check_box 'check_all', 0, 
                  {:id => "summary-check-all", :onclick => "checkAll('summary-check-all', 'summary-check-form')"}, 0, false %>
                </div>
                TITLE
              </th>
              <th id="summary-number-top">summary</th>
            </tr>
            <%= render_summary_table = render_summary_table('summary', @summaries_table) %>
          </table>
        </form>
        <% if @current_tab == "favorite" %>
        <form id="favorite-check-form" name="favorite_checkbox" class="favorite active">
        <% else %>
        <form id="favorite-check-form" name="favorite_checkbox" class="favorite">
        <% end %>
          <table class="favorite-table favorite">
            <tr class="table-top">
              <th id="article-title-top">
                <div class="article-checkbox">
                  <%= check_box 'check_all', 0, 
                  {:id => "favorite-check-all", :onclick => "checkAll('favorite-check-all', 'favorite-check-form')"}, 0, false %>
                </div>
                TITLE</th>
              <th id="summary-number-top">summary</th>
            </tr>
            <%= render_favorite_table = render_article_table('favorite', @favorite_articles_table) %>
          </table>
        </form>
        <% if @current_tab == "read" %>
        <form id="read-check-form" name="read_checkbox" class="read active">
        <% else %>
        <form id="read-check-form" name="read_checkbox" class="read">
        <% end %>
          <table class="read-table read">
            <tr class="table-top">
              <th id="article-title-top">
                <div class="article-checkbox">
                  <%= check_box 'check_all', 0, 
                  {:id => "read-check-all", :onclick => "checkAll('read-check-all', 'read-check-form')"}, 0, false %>
                </div>
                TITLE
              </th>
              <th id="summary-number-top">summary</th>
            </tr>
            <%= render_read_table = render_article_table('read', @read_articles_table) %>
          </table>
        </form>
      </div>
      <% else # @is_login_user || @user.public_flg %>
      <p id="private-message">@<%= @user.name%>'s articles are protected. </p>
      <% end # @is_login_user || @user.public_flg %>
    </div>
  </div>
</div>
