<div class="container">
    <div class="row">
      <div class="span3">
        <div id="profile_id">
          <div class="user_photo heading"> <a href="#" class="user_info">Photo</a> </div>
          <div class="heading"> <a href="#" class="user_info"><%= @user.user_name %></a>  </div>
          <div class="heading"> <a href="#" class="user_info">Data</a>  </div>
          <div class="heading"> <a href="#" class="user_info">Profile</a> </div>
          <div class="heading"> <a href="#" class="user_info">Favorite</a>  </div>
          <div class="heading"> <a href="#" class="user_info">Following</a> </div>
        </div>
      </div>
      <div class="span9">
        <div class="div_tag">
          <ul class="tab clear">
            <li class="none active"><a href="#main" data-toggle="tab">Main</a></li>
            <li class="none"><a href="#edited_summary" data-toggle="tab">Edited Summary</a></li>
            <li class="none"><a href="#favorite" data-toggle="tab">Favorite</a></li>
            <li class="none"><a href="#read" data-toggle="tab">Read</a></li>
            <li class="none"><a href="#reserved" data-toggle="tab">Reserved</a></li>
          </ul>
        </div>
        <div class="table">
          <table class="summary_table active" id="main">
            <tr class="table_top">
              <th id="article_title_top">TITLE</th>
              <th id="summary_number_top">summary</th>
            </tr>
            <% if @articles %>
            <% @articles.each do |article| %>
            <tr>
              <th class="title">
                <input type="checkbox" id="article_check" class="dropdown-toggle" data-toggle="dropdown">
                <ul class="dropdown-checkbox">
                  <li><%= link_to "mark as read", {:action => "mark_as_read", :user_id => @user.user_id,
                    :user_name => @user.user_name, :article_id => article.article_id} %></li>
                  <li><a href="#">mark as favorite</a></li>
                  <li><%= link_to "delete", {:action => "delete", :user_id => @user.user_id, :user_name => @user.user_name,
                    :article_id => article.article_id} %></li>
                  <li><a href="#">edit summary</a></li>
                </ul>
                <a href="<%= article.article_url %>"><%= article.article_title %></a>
              </th>
              <th class="summary_num"><a href="#">1</a></th>
            </tr>
            <% end %>
            <% end %>
          </table>
          <table class="edited_summary_table" id="edited_summary">
            <tr class="table_top">
              <th id="article_title_top">TITLE</th>
              <th id="summary_number_top">like</th>
            </tr>
          </table>
          <table class="favorite_table" id="favorite">
            <tr class="table_top">
              <th id="article_title_top">TITLE</th>
              <th id="summary_number_top">summary</th>
            </tr>
          </table>
          <table class="read_table" id="read">
            <tr class="table_top">
              <th id="article_title_top">TITLE</th>
              <th id="summary_number_top">summary</th>
            </tr>
            <% if @read_articles %>
            <% @read_articles.each do |read_article| %>
            <tr>
              <th class="title">
                <input type="checkbox" id="article_check" class="dropdown-toggle" data-toggle="dropdown">
                <ul class="dropdown-checkbox">
                  <li><a href="#">mark as favorite</a></li>
                  <li><%= link_to "delete", {:action => "delete", :user_id => @user.user_id, :user_name => @user.user_name,
                    :article_id => read_article.article_id} %></li>
                  <li><a href="#">edit summary</a></li>
                </ul>
                <a href="<%= read_article.article_url %>"><%= read_article.article_title %></a>
              </th>
              <th class="summary_num"><a href="#">1</a></th>
            </tr>
            <% end %>
            <% end %>
          </table>
          <table class="reserved_table" id="reserved">
            <tr class="table_top">
              <th id="article_title_top">none</th>
              <th id="summary_number_top">none</th>
            </tr>
          </table>

        </div>
      </div>
    </div>
  </div>