<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div id="yBoxOutline">
	<div id ="yBox">
		<div id = "yArticle">
			<h1 id="yArticleName">
				<% if  @article != nil %>
					<%= link_to(@article.title,@article.url,:class => "summary_list_link") %>	
				<% end %>
			</h1>
			<div id="yArticleIsRead">				
				<% unless @isReadArticle then %>
					<%= link_to "既読にする",{:action => "isRead", :articleId => @article.id, :remote => true}, { :class => "summary_list_link" }%>
				<% else %>
					<%= link_to "未読に戻す",{:action => "cancelIsRead", :articleId => @article.id, :remote => true}, { :class => "summary_list_link" }%>
				<% end %>
			</div>

			<% unless @summaryList.blank? %>
				<div id="youyaku">
					<% @summaryList.each_with_index do |summaryItem,index| %>
						<div id="yAuther">
							<%= summaryItem.user.name %>	
						</div>
						<h2 id="yArticleDetail">
							<%= summaryItem.summary.content %>	
						</h2>

						<div class ="yArticleIiyo">
							<% unless summaryItem.isGoodCompleted then %>
								<div id = "yetGoodSummary<%=index%>">
									<%= link_to image_tag("icons/good_summary.jpg",
														  { :border => '0', :alt => 'いい要約だね！'}),
														  {	:action => "goodSummary",
															  :listIndex =>index,
															  :summaryId =>summaryItem.summary.id, 
															  :articleId => @article.id,
															  :remote => true,
									} %>
								</div>

								<div id = "alreadyGoodSummary<%=index%>" style="display:none"	>
									<%= link_to image_tag("icons/good_summary_cmp.jpg", 
														  { :border => '0', 
															:alt => 'あなたは既にいい要約だねをしています'}),
														  {	:action => "cancelGoodSummary",
															  :listIndex =>index,
															  :summaryId =>summaryItem.summary.id, 
															  :articleId => @article.id,
															  :remote => true,
									} %>
								</div>
							<% else %>
								<div id = "yetGoodSummary<%=index%>" style="display:none"	>
									<%= link_to image_tag("icons/good_summary.jpg",
														  { :border => '0', :alt => 'いい要約だね！'}),
														  {	:action => "goodSummary",
															  :listIndex =>index,
															  :summaryId =>summaryItem.summary.id, 
															  :articleId => @article.id,
															  :remote => true,
									} %>
								</div>

								<div id = "alreadyGoodSummary<%=index%>">
									<%= link_to image_tag("icons/good_summary_cmp.jpg", 
														  { :border => '0', 
															:alt => 'あなたは既にいい要約だねをしています'}),
														  {	:action => "cancelGoodSummary",
															  :listIndex =>index,
															  :summaryId =>summaryItem.summary.id, 
															  :articleId => @article.id,
															  :remote => true,
									} %>
								</div>
							<% end %>
						</div>

						<div class ="yArticleIiyo">
							<% unless summaryItem.isGoodCompleted then %>
								<div id = "yetGoodSummary_point<%=index%>">
								ただいまのいい要約だねの数は<%= summaryItem.summaryPoint %>です。 
							    </div>
								<div id = "alreadyGoodSummary_point<%=index%>" style="display:none"	>
								ただいまのいい要約だねの数は<%= summaryItem.summaryPoint + 1 %>です。 
								</div>
							<% else %>
								<div id = "yetGoodSummary_point<%=index%>" style="display:none"	>
								ただいまのいい要約だねの数は<%= summaryItem.summaryPoint - 1%>です。 
							    </div>
								<div id = "alreadyGoodSummary_point<%=index%>">
								ただいまのいい要約だねの数は<%= summaryItem.summaryPoint  %>です。 
								</div>
							<% end%>
						</div>







						<hr id = "yArticleLine">

					<% end %>

				<% else %>
					<!-- 建設中 -->
				<% end %>
				<div id="yLinkToOtherY">
					他の要約を見る
				</div>
			</div>
		</div>
	</div>
</div>
