<div id="yBoxOutline">
	<div id ="yBox">
		<div id = "yArticle">
			<h1 id="yArticleName">
				<% if  @article != nil %>
					<%= @article.title %>	
				<% end %>
			</h1>

			<div id="yArticleLink">

				<% if  @article != nil %>
					<%= link_to("元記事を見る",@article.url) %>
				<% end %>

			</div>
		</div>
		<% unless @summarys.blank? %>
			<div id="youyaku">
				<% @summarys.each_with_index do |summary,i| %>
					<div id="yAuther">
						<%= @sumUsers[i].name %>	
					</div>
					<h2 id="yArticleDetail">
						<%= summary.content %>	
					</h2>

					<div id ="yArticleIiyo">
						<% unless @isGoodCompleted[i] then %>
							<%= link_to image_tag("icons/good_summary.jpg", { :border => '0', :alt => 'いい要約だね！'}),{:action => "goodSummary",:summaryId =>summary.id, :articleId => @article.id} %>

						<% else %>
							<%= image_tag("icons/good_summary_cmp.jpg", { :border => '0', :alt => 'あなたは既にいい要約だねをしています'}) %>
						<% end %>
					</div>

					<div id ="yArticleIiyo">
						ただいまのいい要約だねの数は<%= @goodSummaryPoint[i] %>です。 
					</div>

					<hr id = "yArticleLine">

				<% end %>

			<% else %>
				<!-- 建設中 -->
			<% end %>
			<div id="yLinkToOtherY">
				他の要約を見る
			</div>
		</div>
	</div>
</div></div>
