<%= content_for :head do %>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <%= stylesheet_link_tag "summary_lists", "buttons" %>
<% end %>

<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>



<div id ="sumlist_layout">
	<table id ="summary_lists">
		<tr>
			<th id ="article_title" class ="main">
				<% if  @article != nil %>
					<%= link_to(@article.title,@article.url,:class => "summary_list_link") %>	
				<% end %>
			</th>
			<td id ="article_status" class ="status">
				<div id ="article_read_mark">
					<% unless @isReadArticle then %>
						<div id="unreadBottun">

						<%= link_to sanitize('<i class="glyphicon glyphicon-unchecked"></i>') + ' mark read', {:action => "isRead", :articleId => @article.id, :remote => true}%>
						</div>
						<div id="alreadyReadBottun" style="display:none">
							<%= link_to sanitize('<i class="glyphicon glyphicon-check"></i>') + ' unmark read', {:action => "cancelIsRead", :articleId => @article.id, :remote => true}%>
						</div>

					<% else %>
						<div id="unreadBottun" style="display:none">

						<%= link_to sanitize('<i class="glyphicon glyphicon-unchecked"></i>') + ' mark read', {:action => "isRead", :articleId => @article.id, :remote => true}%>
						</div>
						<div id="alreadyReadBottun">
							<%= link_to sanitize('<i class="glyphicon glyphicon-check"></i>') + ' unmark read', {:action => "cancelIsRead", :articleId => @article.id, :remote => true}%>
						</div>
					<% end %>
				</div>

				<hr>

				<div id ="mark_article">
					<div id ="mark_user">
						mark users
						<%= @numOfMarkUsers %>
					</div>
				</div>
			</td>
		</tr> 


		<!-- 自分で要約してればその結果、してなければ要約への導線をだす -->
		<tr>
			<% unless @summaryByMe == nil then %>
			<td id="my_summary_detail" class ="main">	
				<%= simple_format_2(@summaryByMe.content) %>	
			</td>
			<td id="my_summary_auther" class ="status">	
				あなたの要約です
				<div id="auther_button" >
					<%= link_to sanitize('<i class="glyphicon glyphicon-pencil"></i>') + ' edit', {:action => "isRead", :articleId => @article.id, :remote => true}%>
				</div>

				<div id="last_update_time">
					LastUpdate:<br><%= @summaryByMe.updated_at.strftime("%Y/%m/%d %H:%M") %>
				</div>

			</td>

			<% else %>
			
			<td class="main"> あなたも要約をして、誰かの時間を節約しませんか？
			<td class="status">
			
			<% end %>

		</tr>

		<!-- summary lists -->
		<% unless @summaryList.blank? %>
			<% @summaryList.each_with_index do |summaryItem,index| %>

				<!-- 自分の要約した文言は別で一番先頭で表示するので、リストでは見せない -->
				<% if summaryItem.summary == @summaryByMe then %>
			    	<% next %>
				<% end %>	

				<!-- 各要約内容、要約者の情報を表示していく -->
				<tr>
					<td id="summary_detail" class ="main">	
						<%= simple_format_2(summaryItem.summary.content) %>	
					</td>
					<td id="summary_auther" class ="status">
						<%= link_to image_tag(summaryItem.user.prof_image, :size => "50x50", :title => summaryItem.user.name, :id =>"auther_photo"),
							{:controller => 'mypage',:action => "index", :name => summaryItem.user.name} %>
							<div id ="auther_name">
								<%= link_to summaryItem.user.name,
									{:controller => 'mypage',
										:action => "index", 
										:name => summaryItem.user.name} %>


										<div id="follow_mark">
											follow
										</div>

									</div>
						<div id="last_update_time">
							LastUpdate:<br><%= summaryItem.summary.updated_at.strftime("%Y/%m/%d %H:%M") %>
						</div>


									<hr>
									<% unless summaryItem.isGoodCompleted then %>
										<div id = "yetGoodSummary<%=index%>" class="iiyo">
											<%= link_to image_tag("icons/glyphicons_343_thumbs_up.png",
																  { :border => '0', 
																	  :alt => 'いい要約だね！', 
																	  :id => "bottun"}),

																	  {	:action => "goodSummary",
																		  :listIndex =>index,
																		  :summaryId =>summaryItem.summary.id, 
																		  :articleId => @article.id,
																		  :remote => true,
											} %>
											<div id="count">
												<%= summaryItem.summaryPoint %> 
											</div>
										</div>

										<div id = "alreadyGoodSummary<%=index%>" class="iiyo" style="display:none"	>
											<%= link_to image_tag("icons/glyphicons_343_thumbs_up_gray.png", 
																  { :border => '0', 
																	  :alt => 'あなたは既にいい要約だねをしています', :id => "cmpBottun"} ),
																	  {	:action => "cancelGoodSummary",
																		  :listIndex =>index,
																		  :summaryId =>summaryItem.summary.id, 
																		  :articleId => @article.id,
																		  :remote => true,
											} %>
											<div id="count">
												<%= summaryItem.summaryPoint + 1 %> 
											</div>
										</div>
									<% else %>
										<div id = "yetGoodSummary<%=index%>" class="iiyo" style="display:none">
											<%= link_to image_tag("icons/glyphicons_343_thumbs_up.png",
																  { :border => '0', :alt => 'いい要約だね！', :id => "bottun"}),
																  {	:action => "goodSummary",
																	  :listIndex =>index,
																	  :summaryId =>summaryItem.summary.id, 
																	  :articleId => @article.id,
																	  :remote => true,
											} %>
											<div id="count">
												<%= summaryItem.summaryPoint - 1%> 
											</div>
										</div>

										<div id = "alreadyGoodSummary<%=index%>" class="iiyo">
											<%= link_to image_tag("icons/glyphicons_343_thumbs_up_gray.png", 
																  { :border => '0', 
																	  :alt => 'あなたは既にいい要約だねをしています',:id => "cmpBottun"}),
																	  {	:action => "cancelGoodSummary",
																		  :listIndex =>index,
																		  :summaryId =>summaryItem.summary.id, 
																		  :articleId => @article.id,
																		  :remote => true,
											} %>
											<div id="count">
												<%= summaryItem.summaryPoint  %> 
											</div>
										</div>
									<% end %>


								<% end %>
							</td>
						</tr>
						<tr>
							<td>
								他の要約を見る
							</td>
							<td>
							</td>
						</tr>
					<% end %>
				</table>
			</div>
