<script>
$(function(){
    $('#submit').click(function(){
      if($("#booked_url").val().length){
        if(confirm('登録して宜しいですか？')){
          $.ajax({
            url: '/webpage/add',
            type: 'GET',
            data: 'booked_url=' + escape($('#booked_url').val()),
            success: function(data) {
              alert('登録しました。');
              location.reload();
            },
            error: function(data) {
              alert('失敗しました、urlを確認して下さい。');
            }
          });
        }
      } else {
        alert('urlを入力して下さい。');
      }
    });
});
</script> 

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="<%= url_for :controller => 'mypage', :action => 'index' %>" class="brand">Summary</a>
        <div class="nav-collapse">
          <ul class="nav pull-right">

          <% if signed_in? %>
            <li>
              <input class="nav_text" type="text" name="booked_url" id="booked_url" size="50"></a>
            </li>
            <li>
              <input type="submit" id="submit" class="button button-flat:hover" value="book!">
            </li>
          <% end %>

          <li class="divider-vertical"></li>

          <% if signed_in? %>
            <li>
              <a class="dropdown-toggle nav_news" data-toggle="dropdown" href="#"><%= getNotifyingObjects.size %></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">action</a>
                </li>
                <li>
                  <a href="#">next action</a>
                </li>
                <li>
                  <a href="#">more actions</a>
                </li>
              </ul>
            </li>
          <% else %>
            <li>
              <a class="dropdown-toggle nav_news" data-toggle="dropdown" href="#">-</a>
            </li>
          <% end%>

            <li class="divider-vertical"></li>
            <li>
              <% if signed_in? %>
              <a class="dropdown-toggle nav_account" data-toggle="dropdown" href="#"><%= get_current_user_name %></a>
                <ul class="dropdown-menu">
                  <li>
                  <a href="<%= url_for :controller => 'mypage', :action => 'index' %>">MyPage</a>
                  </li>
                  <li>
                  <a href="<%= url_for :controller =>'settings', :action => 'profile'%>">Show Profile</a>
                  </li>
                  <li>
                  <a href="<%= url_for(:controller => 'consumer', :action => 'sign_out', :fromUrl => request.url)%>">LogOut</a>
                  </li>
                </ul>
              <% else %>
                <% if request.url =~ %r!^#{url_for(:controller => 'consumer', :action => 'index', :only_path => false)}! %>
                  <a href="<%= url_for(:controller => 'consumer', :action => 'index')%>">LogIn</a>
                <% else %>
                  <a href="<%= url_for(:controller => 'consumer', :action => 'index', :fromUrl => request.url)%>">LogIn</a>
                <% end %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
