 <script>
$(function(){
    $('#submit').click(function(){
      if(confirm('登録して宜しいですか？')){
        $.ajax({
          url: '/webpage/add_complete',
          type: 'GET',
          data: 'url=' + $('#url').val(),
          success: function(data) {
            alert('登録しました。');
            location.reload();
          },
          error: function(data) {
            alert('失敗しました、urlを確認して下さい。');
          }
        });
      }
    });
});
</script> 

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="<%= url_for :controller => 'mypage', :action => 'index' %>" class="brand">Summary</a>
        <div class="nav-collapse">
          <ul class="nav pull-right">
            <li>
              <input class="nav_text" type="text" name="url" id="url" size="50"></a>
            </li>
            <li>
              <input type="submit" id="submit" class="button button-flat:hover" value="book!">
            </li>
            <li class="divider-vertical"></li>
            <li>
              <a class="dropdown-toggle nav_news" data-toggle="dropdown" href="#">7</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">action</a>
                </li>
                <li>
                  <a href="#">next action</a>
                </li>
                <li>
                  <a href="#">more actions</a>
                </li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
            <li>
              <% if signed_in? %>
              <a class="dropdown-toggle nav_account" data-toggle="dropdown" href="#"><%= get_current_user_name %></a>
                <ul class="dropdown-menu">
                  <li>
                  <a href="<%= url_for :controller => 'mypage', :action => 'index' %>">MyPage</a>
                  </li>
                  <li>
                  <a href="<%= url_for :controller =>'consumer', :action => 'profile'%>">Show Profile</a>
                  </li>
                  <li>
                    <a href="/session/consumer/sign_out">LogOut</a>
                  </li>
                </ul>
              <% else %>
                <a href="<%= url_for(:controller => 'consumer', :action => 'index', :fromUrl => request.url)%>">LogIn</a>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
