<script>
$(function(){
    $('#submit').click(function(){
      if($("#booked_url").val().length){
          $.ajax({
            url: '/webpage/get_title',
            type: 'POST',
            data: 'booked_url=' + escape($('#booked_url').val()),
            dataType: 'text',
            success: function(data) {
            	if(data) {
            	  if(confirm(data+'を登録して宜しいですか？')){
            	  	$.ajax({
            			url: '/webpage/add',
            			type: 'POST',
            			data: 'booked_url=' + escape($('#booked_url').val()),
            			dataType: 'text',
            			success: function(data) {
            				alert(data);
            				location.reload();
            			},
            			error: function(data) {
            				alert('システム管理者に連絡して下さい！');
            			}
            		});
            	  }
              } else {
              	alert('指定されたURLは存在しません。URLを確認して下さい。');
              }
            },
            error: function(data) {
              alert('システム管理者に連絡して下さい！');
            }
          });
      } else {
        alert('URLを入力して下さい。');
      }
    });
});

</script>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="<%= url_for :controller => 'mypage', :action => 'index' %>" class="brand">Summary</a>
        <div class="nav-collapse">
          <ul class="nav pull-right">
          <% if signed_in? %>
            <li>
              <input class="nav_text required url" type="text" name="booked_url" id="booked_url" size="75">
            </li>
            <li>
              <input id="submit" class="button button-flat:hover" value="book!" size="5">
            </li>
          <% end %>
            <li class="divider-vertical"></li>
            <li>
              <a class="dropdown-toggle nav_news" data-toggle="dropdown" href="#">7</a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">action</a>
                </li>
                <li>
                  <a href="#">next action</a>
                </li>
                <li>
                  <a href="#">more actions</a>
                </li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
            <li>
              <% if signed_in? %>
              <a class="dropdown-toggle nav_account" data-toggle="dropdown" href="#"><%= get_current_user_name %></a>
                <ul class="dropdown-menu">
                  <li>
                  <a href="<%= url_for :controller => 'mypage', :action => 'index' %>">MyPage</a>
                  </li>
                  <li>
                  <a href="<%= url_for :controller =>'consumer', :action => 'profile'%>">Show Profile</a>
                  </li>
                  <li>
                    <a href="/session/consumer/sign_out">LogOut</a>
                  </li>
                </ul>
              <% else %>
                <a href="<%= url_for(:controller => 'consumer', :action => 'index', :fromUrl => request.url)%>">LogIn</a>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>