<script>
$(document).ready(function() {
  $.ajax({
      url: "/chrome/get_login_user_id",
      type: "GET",
      dataType: "text",
      success: function(data) {
        if(data){
          set_type_nav();
        } else {
          $("#navbar_form").attr("action","/search/search_article");
          $("#navbar_form").attr("method","GET");
          $("#search_nav").val(I18n.t('search.search'));
        }
      }
  });
});

function checkSearchtext(){
  if($('#searchtext_nav').val() == ""){
    return false;
  }
}

function click_dropdown_manu_search(){
  $("#navbar_form").attr("action","/search/search_article");
  $("#navbar_form").attr("method","GET");
  $("#search_nav").val(I18n.t('search.search'));
  $.cookie('type_nav', 1, {path: '/'});
}

function click_dropdown_manu_add(){
  $("#navbar_form").attr("action","/webpage/add_confirm");
  $("#navbar_form").attr("method","POST");
  $("#search_nav").val(I18n.t('webpage.add'));
  $.cookie('type_nav', 2, {path: '/'});
}

function set_type_nav(){
  var type_nav = $.cookie("type_nav");
  if(type_nav == "1") {
    click_dropdown_manu_search();
  } else {
    click_dropdown_manu_add();
  }
}
</script>

<%= form_tag({:controller => 'search', :action => 'search_article'}, {:id => 'navbar_form', :method => 'GET', :onsubmit => 'return checkSearchtext()'}) do %>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="<%= url_for :controller => 'hotentry', :action => 'index' %>" class="brand">SummaQ!</a>
        <div class="nav-collapse">
          <ul class="nav pull-right">
            <li><input type="text" name="searchtext" id="searchtext_nav" value="<%= @searchtext %>" ></li>
            <li><input type="submit" id="search_nav" value="<%= t("search.search") %>" class="button button-flat:hover submit"></li>
            <% if signed_in? %>
              <li>
                <div id="type_nav" class="btn-group">
                  <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#" onclick="click_dropdown_manu_add()">追加へ変更する</a></li>
                    <li><a href="#" onclick="click_dropdown_manu_search()">検索へ変更する</a></li>
                  </ul>
                </div>
              </li>
            <% end %>
            <input type="hidden" name="add_flag" value="true">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <% if false %>
          <% if signed_in? %>
            <li>
              <a class="dropdown-toggle nav_news" data-toggle="dropdown" href="#"><%= get_notifying_objects.size %></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">action</a>
                </li>
                <li>
                  <a href="#">next action</a>
                </li>
                <li>
                  <a href="#">more actions</a>
                </li>
              </ul>
            </li>
          <% end %>
          <% end %>

            <li>
              <div id="profile">
                <%= render_user_name %>
              </div>
            </li>
            <li>
              <% if signed_in? %>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <%= image_tag("icons/glyphicons_136_cogwheel_gray.png", :size => "20x20") %>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="<%= url_for :controller =>'settings', :action => 'profile'%>">account setting</a>
                </li>
                <li>
                <% if(request.get?) %>
                  <a href="<%= url_for(:controller => 'consumer', :action => 'sign_out', :fromUrl => request.url)%>">sign out</a>
                <% else %>
                  <a href="<%= url_for(:controller => 'consumer', :action => 'sign_out')%>">sign out</a>
                <% end %>
                </li>
              </ul>
              <% else %>
                <% if(request.url =~ %r!^#{url_for(:controller => 'consumer', :action => 'index', :only_path => false)}!) %>
                  <a href="<%= url_for(:controller => 'consumer', :action => 'index')%>">sign in</a>
                <% else %>
                  <a href="<%= url_for(:controller => 'consumer', :action => 'index', :fromUrl => request.url)%>">sign in</a>
                <% end %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>

<% if flash[:alert] %>
  <div class='alert'>
   <%= h(flash[:alert]) %>
  </div>
<% end %>
<% if flash[:error] %>
  <div class='login_error'>
   <%= h(flash[:error]) %>
  </div>
<% end %>
<% if flash[:success] %>
  <div class='success'>
   <%= h(flash[:success]) %>
  </div>
<% end %>

  </div>
<% end %>
