<!DOCTYPE html>
<html>
<head>
  <title>SummaQ! ｜あとで読むをちゃんと読む 〜 要約キュレーションサービス</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
  <%= yield :head %>
</head>
<body>
<script type="text/javascript">
  I18n.defaultLocale = "<%= I18n.default_locale %>";
  I18n.locale = "<%= I18n.locale %>";
</script>

<%= render :partial => "layouts/partials/navbar" %>
<%= yield %>

</body>
</html>
