<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <title>Summary Lists</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "summary_lists", :media => "all" %>
  <%= javascript_include_tag "summary_lists" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => "layouts/partials/navbar" %>
<%= yield %>

</body>
</html>

